.container {
    font-family: 'Readex Pro', sans-serif;
    background-color: #18157c;
    height: auto;
}

.about {
    padding: 5% 10%;
    line-height: 2em;
}

.about h3 {
    color: #EADE71;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.about p {
    color: white;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 30px;
}

#team {
    min-width: 100%;
    background-color: #18157c ;
    padding: 0 2.5% 5% 2.5%;
}

#team > h3 {
    color: #EADE71;
    font-size: 4vw;
    text-align: center;
    padding: 2% ; 
}

.user {
    display: flex;
    text-align: center;
    justify-content: space-around;    
    gap: 30px;
    margin: 30px;
}

.user-1, .user-2, .user-3 {
    padding: 2.5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
    font-size: 2vw;
    box-shadow: 0px 0px 20px 2px #EADE71;
    width: 30%;
    height: auto;
    color: #18157c;
    background-color: #EADE71;
}

.user img {
    border-radius: 50%;
    width: 20vw;
    height: auto;
    margin: 5%;
}

.user ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.user a{
	width: 25px;
	height: 25px;
    margin: 10px;
	border-radius: 50%;
    color: #18157c;
}

.user a:hover{
	transform: scale(1.3);
	transition: .3s;
}
