/***** Content Section *****/

.container {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: block;
  text-align: center;
  position: relative;
}

.bg-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 6vw;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  color: #18157c;
  margin-bottom: 25px;
}

h4 {
  font-size: 3vw;
  font-family: "Readex Pro", sans-serif;
  font-weight: 600;
  color: #18157c;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px;
  font-family: "Readex Pro", sans-serif;
  color: #18157c;
  font-weight: bold;
  background-color: #18157c;
}

.block ul {
  height: 200px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
}

.block-head {
  font-size: 1.6rem;
}

.block-text {
  font-size: 1.1rem;
}

.block-img {
  width: 1rem;
}

.block-img:hover {
  transform: scale(1.25);
  transition: 0.3s;
}

#about,
#update,
#team,
#work {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: auto;
  box-shadow: 0px 0px 10px 2px #eade71;
  background-color: #eade71;
}


.uiBoxGray {
  background-color: #ccc;
  border: 2px solid #666;
}

.uiBoxPink {
  background-color: #eeb1d7;
  border: 2px solid #db2586;
}

.uiBoxGreen {
  background-color: #d1e6b9;
  border: 2px solid #629824;
}

.uiBoxPurpule {
  background-color: #c789ed;
  border: 2px solid #8844b2;
}

.uiBoxYellow {
  background-color: #fff9d7;
  border: 2px solid #e2c822;
}

/***** End Section *****/

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .container {
    padding-top: 70px;
  }

  .bg-img {
    width: 100%;
    height: 400px;
  }

  h1 {
    font-size: 10vw;
  }

  h4 {
    font-size: 5vw;
  }

  .block {
    flex-direction: column;
    padding: 70px 0;
  }

  #about,
  #update,
  #team,
  #work {
    width: 300px;
    height: auto;
  }

  @media screen and (max-width: 576px) {}
}