/***** Content Section *****/

.container {
    position: relative;
}

img {
    max-width: 100%;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 5vw;
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    text-align: center;
    color: #18157C;
}

h4 {
    font-size: 4vw;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #18157C;
}

.bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    gap: 10px;
    margin-bottom: 30px;
    font-family: 'Readex Pro', sans-serif;
    color: #18157C;
    font-weight: bold;
    background-color: #18157C;
}

.bar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    gap: 10px;
}

.bar-head {
    font-size: 1.75vw;
}

.bar-text {
    font-size: 1.1vw;
}

.bar-img {
    width: 1vw;
}

.bar-img:hover {
    transform: scale(1.25);
    transition: .3s;
}

#about,#update,#team,#work {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(25% - 10px);
    height: auto;
    box-shadow: 0px 0px 20px 5px #EADE71;
    background-color: #EADE71;
}

/***** End Section *****/