/***** Content Section *****/

.container {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: block;
  text-align: center;
  position: relative;
  padding-top: 35px;
}

.bg-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title img {
  width: 30%;
  border-radius: 99px;
  margin-bottom: 25px;
}

h4 {
  font-size: 3vw;
  font-family: "Readex Pro", sans-serif;
  font-weight: 600;
  color: #45796F;
}

.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 5% 2.5%;
  font-family: "Readex Pro", sans-serif;
  color: #45796F;
  font-weight: bold;
  background-color: #45796F;
}

.block ul {
  height: 200px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
}

.block-head {
  font-size: 1.6rem;
}

.block-text {
  font-size: 1.1rem;
}

.block-img {
  width: 1.5rem;
  mix-blend-mode: exclusion;
}

.block-img:hover {
  transform: scale(1.25);
  transition: 0.3s;
}

.block div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: auto;
  border-radius: 30px;
}


.uiBoxGray {
  background-color: #ccc;
  border: 2px solid #666;
  box-shadow: 0px 0px 20px 2px #ccc;
}

.uiBoxPink {
  background-color: #eeb1d7;
  border: 2px solid #db2586;
  box-shadow: 0px 0px 20px 2px #eeb1d7;
}

.uiBoxGreen {
  background-color: #d1e6b9;
  border: 2px solid #629824;
  box-shadow: 0px 0px 20px 2px #d1e6b9;
}

.uiBoxYellow {
  background-color: #fff9d7;
  border: 2px solid #e2c822;
  box-shadow: 0px 0px 20px 2px #fff9d7;
}

#team {
  min-width: 100%;
  background-color: #45796F;
  padding: 5% 2.5%;
  font-family: "Readex Pro", sans-serif;
}

.block-title {
  color: #F2E8B9;
  font-size: 4rem;
  text-align: center;
  padding: 0 2% 2%;
  width: 100%;
}

.user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 150px;
  margin-top: 30px;
}

.user-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
  font-size: 1.5rem;
  box-shadow: 0px 0px 20px 2px #eade71;
  width: 300px;
  height: 425px;
  color: #45796F;
  background-color: #eade71;
  border-radius: 250px;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
}

.user img {
  border-radius: 50%;
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}

.user ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.user a {
  width: 25px;
  height: 25px;
  margin: 10px;
  border-radius: 50%;
  color: #45796F;
}

.user a i:hover {
  transform: scale(1.5);
  transition: 0.3s;
}


/***** End Section *****/

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .container {
    padding-top: 80px;
  }

  .bg-img {
    width: 100%;
    height: 300px;
  }

  .title {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title img {
    width: 50%;
  }

  h4 {
    font-size: 7vw;
    padding: 0 7.5%;
  }

  .block {
    flex-direction: column;
    padding: 70px 0;
  }

  .block div {
    width: 300px;
    height: auto;
  }

  #team {
    padding: 0 2.5% 15%;
  }

  #team>h3 {
    font-size: 3rem;
  }

  .user {
    flex-direction: column;
    gap: 50px;
  }


  @media screen and (max-width: 576px) {}
}


/***** Contact Section *****/

.contact {
  font-family: "Readex Pro", sans-serif;
  background-color: #45796F;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5% 0 10%;

}

.contact-title h3 {
  color: #78AEA3;
  font-size: 3rem;
}

.contact-title h1 {
  margin-top: 1%;
  color: #F2E8B9;
  font-size: 7rem;
}

.contact-info {
  display: flex;
  flex-direction: row;
  font-family: "Readex Pro", sans-serif;
  justify-content: space-around;
  align-items: center;
  color: #45796F;
  padding: 50px 0;
}

.contact-form span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  list-style: none;
}

#form-name,
#form-email,
#form-subject,
#form-message {
  background-color: #45796F;
  color: #F2E8B9;
  border: none;
  border-bottom: 1px solid #F2E8B9;
  width: 407px;
  height: 42px;
  margin-bottom: 1rem;
}

#form-name,
#form-email {
  width: 190px;
}

#form-message {
  height: 114px;
}

#form-submit {
  background-color: #F2E8B9;
  color: #45796F;
  width: 407px;
  height: 46px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
}

.contact-form input::placeholder {
  color: #F2E8B9;
  font-size: 1rem;
  font-weight: 200;
  padding-left: 1rem;
  border-style: none;
}

.contact-form input:focus {
  outline: none;
  border-style: none;
}

#form-name:hover,
#form-email:hover,
#form-subject:hover,
#form-message:hover {
  border-bottom: 3px solid #F2E8B9;
}

#form-submit:hover {
  background-color: black;
  color: #F2E8B9;
}

.social-links {
  color: #F2E8B9;
  line-height: 2em;
}

.social-links ul {
  padding-bottom: 20px;
}

/***** End Section *****/

@media screen and (max-width: 768px) {
  .contact {
    width: 100%;
    flex-direction: column;
  }

  .contact-title h3 {
    font-size: 1rem;
  }

  .contact-title h1 {
    font-size: 3rem;
  }

  .contact-info {
    flex-direction: column;
  }

  .contact-form {
    padding-bottom: 2rem;
  }

  #form-name,
  #form-email,
  #form-subject,
  #form-message {
    width: 100%;
    height: 42px;
  }

  #form-name,
  #form-email {
    width: 49.5%;
  }

  #form-message {
    height: 114px;
  }

  #form-submit {
    width: 100%;
  }


  @media screen and (max-width: 576px) {}
}