@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Readex+Pro:wght@300;400&display=swap");
/* font-family: 'Barlow',
sans-serif;
font-family: 'Readex Pro',
sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-decoration: none;
}

/***** Navigation Section *****/

header {
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: #fff;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: white;
  color: #18157c;
  font-family: "Barlow", sans-serif;
  width: 100%;
}

.logo {
  cursor: pointer;
  transition: 0.3s;
}

.logo img {
  width: 9rem;
  height: auto;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  list-style-type: none;
  font-weight: 600;
}

.nav-item {
  list-style: none;
  padding: 0 10px;
  cursor: pointer;
  font-size: 1.25em;
}

.nav-link {
  margin: 10px 5px;
  padding: 0.75rem;
  text-decoration: none;
  color: #18157c;
  text-align: center;
  transition: background-color ease-in 0.7s;
}

.nav-link:hover,
.nav-link:active {
  color: #fff;
  background-color: #18157c;
}

.donate-btn {
  background-color: #18157c;
  color: #fff;
  padding: 1em;
  cursor: pointer;
}

.donate-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #18157c;
}

/***** End Section *****/

/***** Footer Section *****/

footer {
  display: flex;
  flex-direction: row;
  font-family: "Readex Pro", sans-serif;
  justify-content: space-between;
  align-items: center;
  margin: 5% 10%;
  gap: 20px;
  line-height: 1.5em;
  color: #18157c;
}

.social-link {
  min-width: 300px;
  cursor: pointer;
}

.social-link ul {
  list-style-type: none;
}

.form {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form ul {
  list-style-type: none;
}

#email {
  border: 1px solid #18157c;
  padding: 10px 30px 10px 30px;
  margin-right: 10px;
}

#submit {
  background: #18157c;
  color: white;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
}

#email:hover {
  border: 3px solid #18157c;
}

#submit:hover {
  background-color: black;
}

/***** End Section *****/

/* RESPONSIVE */
@media screen and (max-width: 1024px) {
  @media screen and (max-width: 768px) {
    /* NAVBAR */
    .hamburger {
      display: block;
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
      position: fixed;
      left: -700px;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      z-index: 99;
      padding: 1em;
    }
    .nav-item {
      margin: 16px 0;
    }
    .nav-menu.active {
      left: 0;
    }

    footer {
      flex-direction: column;
      justify-content: center;
      margin: 10%;
    }

    .social-link ul:first-child {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
    }

    .subscribe {
      display: flex;
      flex-direction: column;
    }

    .form {
      min-width: 300px;
    }

    #email {
      padding: 10px;
      margin-right: 0px;
    }

    #submit {
      padding: 10px 30px;
    }

    @media screen and (max-width: 576px) {
    }
  }
}
