:root {
  --primary: #dd562f;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 8%;
  background-color: #222222;
}

.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: var(--primary);
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
}

nav ul li a:hover {
  color: var(--primary);
  transition: 0.4s;
}

.btn {
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
}

.btn:hover {
  transform: scale(1.2);
}

.home {
  width: 100%;
  height: 100%;
  padding: auto;
  margin-top: 3em;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.container div img {
  width: 40vw;
  padding-bottom: 2em;
}

h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
}

h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}

h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.buy-coffee {
  padding: 5px;
  width: fit-content;
  background-color: white;
  border: 2px solid var(--primary);
  outline: none;
  border-radius: 30px;
}

.buy-coffee button {
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: var(--primary);
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}

.about {
  width: 100%;
  height: 100%;
  padding: auto;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about img {
  height: auto;
  width: 300px;
  border-radius: 2.5em;
  box-shadow: 1px 2px 1px 2px var(--primary);
}

.about-text {
  width: 550px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

button {
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

button:hover {
  background-color: transparent;
  border: 2px solid var(--primary);
  cursor: pointer;
}

.certi-box {
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificate h3 {
  font-size: 3em;
}

.certi-btn {
  margin: 2em;
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

.certi-btn:hover {
  background-color: transparent;
  border: 2px solid var(--primary);
  cursor: pointer;
}

.project {
  width: 100%;
  padding: 100px 0 0 0;
  background: #222222;
}

.title h2 {
  color: white;
  font-size: 75px;
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  height: aut0;
  width: 45%;
  padding: 20px 20px;
  background: #191919;
  border-radius: 20px;
  margin: 1em;
  overflow: hidden;
  text-align: center;
}

h5 {
  color: white;
  font-size: 1.75em;
  margin-bottom: 1em;
}

.img-container {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 10px;
  scrollbar-face-color: #dd562f;
}

/* ===== Scrollbar CSS ===== */

/* Firefox */
.img-container {
  scrollbar-width: auto;
  scrollbar-color: var(--primary) #191919;
  border-radius: 10px;
}

/* Chrome, Edge, and Safari */
.img-container::-webkit-scrollbar {
  width: 5px;
}

.img-container::-webkit-scrollbar-track {
  background: #191919;
}

.img-container::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 1px solid #191919;
}

.project-img {
  width: 100%;
  background-size: cover;
}

.pra {
  margin: 1.5em;
}

.pra p {
  color: #fcfc;
  font-size: 16px;
  line-height: 27px;
}

.skill {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background: #191919;
}

.skill-box {
  width: 90%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.skill-wrap {
  display: flex;
  width: calc(20vw * 22);
  height: 100%;
  animation: carousel 15s linear infinite;
}

.skill-card {
  width: 20vw;
  background: var(--primary);
  border-radius: 20px;
  margin: 3em 5vw;
  text-align: center;
}

.skill-card img {
  width: 15vw;
  height: auto;
  margin: 1.5em;
  background-color: var(--primary);
  border-radius: 10px;
  object-fit: cover;
}

.skill-card p {
  background-color: #000;
  color: #dd562f;
  font-size: 2vw;
  font-weight: bold;
  width: 100%;
  padding: 1em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@keyframes carousel {
  0% {
    transform: translateX(calc(25vw * 4));
  }
  100% {
    transform: translateX(calc(-30vw * 11));
  }
}

.card .button {
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
}

.card .button:hover {
  background-color: transparent;
  border: 2px solid var(--primary);
  cursor: pointer;
}

#contact-me {
  padding: 100px 0;
}

#contact-me h1 {
  text-align: center;
}

#contact-me div {
  text-align: center;
  line-height: 40px;
}

.contact-me {
  width: 100%;
  height: fit-content;
  padding: 50px;
  background: #222222;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-me p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact-me .button-two {
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

.contact-me .button-two:hover {
  background-color: transparent;
  border: 2px solid var(--primary);
  cursor: pointer;
}

.newslatter form {
  width: 380px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.newslatter form input {
  width: 100%;
  text-align: center;
  padding: 14px 130px;
  color: #000;
  border: 2px solid var(--primary);
  outline: none;
  border-radius: 30px;
  margin-top: 20px;
}

.newslatter form input:last-child {
  width: fit-content;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: var(--primary);
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}

.newslatter form input[placeholder] {
  color: #000;
  background-color: #222222;
}

footer {
  width: 100%;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  font-size: 34px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: white;
  font-size: 20px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}

.social {
  display: flex;
}

.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.end {
  color: var(--primary);
  bottom: 35px;
  font-size: 16px;
}

@media screen and (orientation: portrait) {

  .home {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 10% 5%;
  }

  nav {
    position: relative;
    height: 50px;
    padding: 2em 4em;
  }

  nav ul {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #101010;
    width: 100%;
    padding: 0 2em;
  }

  nav ul li {
    padding: 2em;
    font-size: 1.6em;
  }
  .container {
    flex-direction: column;
    text-align: center;
  }

  .container div img {
    width: 45em;
  }
  h1 {
    font-size: 90px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    margin-top: 50px;
    font-size: 2em;
  }

  .buy-coffee {
    padding: 5px;
    width: fit-content;
    margin: auto;
  }

  .buy-coffee button {
    padding: 10px 30px;
    font-size: 1.5em;
  }

  .about {
    width: 100%;
    height: auto;
    padding: 10% 5%;
  }
  .main {
    flex-direction: column-reverse;
  }

  .about img {
    height: auto;
    width: 500px;
    margin-top: 3em;
    border-radius: 2.5em;
    box-shadow: 1px 2px 1px 2px var(--primary);
  }

  .about-text h2 {
    font-size: 80px;
    margin-bottom: 20px;
  }

  .about-text h5 {
    letter-spacing: 2px;
    font-size: 24px;
    margin-bottom: 25px;
  }

  .about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 45px;
  }

  button {
    font-size: 1.5em;
  }

  .certificate {
    height: 20%;
    padding-top: 3vh;
  }
  .certi-box {
    flex-wrap: wrap;
  }

  .certi-btn {
    font-size: 1.5em;
  }

  .about-text {
    margin-left: 2em;
  }

  .project,
  .skill {
    height: auto;
  }

  .card {
    height: aut0;
    width: 90%;
  }
  #contact-me {
    padding: 10% 5%;
  }
  .contact-me {
    flex-direction: column;
  }

  .contact-me div {
    margin-bottom: 30px;
  }

  .newslatter form {
    width: 800px;
  }

  .newslatter form input {
    width: 100%;
    height: 30px;
  }

  footer {
    margin-bottom: 50px;
  }
}

@media screen and (orientation: landscape) and (min-width: 767px) {
  nav {
    padding: 1em 3em;
  }
  .home,
  .about {
    height: 100%;
    padding: 100px 20px;
  }
  .about-text {
    padding: 2em;
  }
  .certificate {
    padding-top: 50px;
  }
  .certi-box {
    flex-wrap: wrap;
  }
}

@media screen and (orientation: landscape) and (min-width: 1240px) {
  nav {
    padding: 1.5em 8%;
  }

  .home,
  .about {
    height: 100%;
  }
  .about {
    padding: 150px 25px 100px 0;
  }
  .certificate {
    padding: 50px 0;
  }
}
