@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
  --primary: #1B9C85;
  --secondary: #FFE194;
  --bg-color: #4C4C6D;

}

* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0 2.5%;
  padding-top: 95px;
  background-color: var(--secondary);
}

nav {
  position: fixed;
  width: 100%;
  padding: 1em 2.5%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  color: var(--secondary);
  font-size: 30px;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: var(--bg-color);
  padding: 15px 20px;
  border-radius: 50px;
}

span {
  color: var(--primary);
}

nav ul {
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: 50px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
}

nav ul li a i {
  visibility: hidden;
}

nav ul li a p {
  margin-top: -20px;
}

nav ul li a:hover {
  color: var(--primary);
  transition: 0.4s;
}

.nav-btn {
  background-color: var(--primary);
  color: var(--secondary);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  transition: transform 0.4s;
  padding: 20px 30px;
  border-radius: 50px;
}

.nav-btn:hover {
  transform: scale(1.2);
}

.section-title {
  width: 100%;
  padding: 15px 0 30px;
  color: white;
  font-size: 70px;
  text-align: center;
}

section {
  height: 100vh;
}

.content-container {
  padding: 50px 0;
}

.home {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 25px;
  gap: 50px;
}

.home-container div img {
  width: 100%;
  padding: 2em 0;
}

.home-container div h1 {
  color: white;
  margin: 20px 0px;
  font-size: 75px;
}

.home-container div h3 {
  color: white;
  font-size: 25px;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--primary);
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em;
  /* Adjust as needed */
  animation:
    typing 10s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 0
  }

  50% {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: var(--primary);
  }
}

.home-container div h4 {
  color: var(--secondary);
  letter-spacing: 2px;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.arrow-down {
  display: inline-flex;
  padding: 5px;
  text-decoration: none;
  background-color: white;
  border: 2px solid var(--primary);
  outline: none;
  border-radius: 30px;
  margin-top: 40px;
}

.arrow-down div {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: var(--primary);
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}

.arrow-down div i {
  margin-left: 10px;
}

.arrow-down div:hover {
  color: #000;
}

.about {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.about-container {
  max-width: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-color);
  padding: 50px;
  border-radius: 25px;
}

.about img {
  height: auto;
  width: 300px;
  border-radius: 2.5em;
  box-shadow: 1px 2px 1px 2px var(--primary);
}

.about-text {
  width: 550px;
}

.about-text h4 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  color: var(--secondary);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-left: 25px;
  margin-bottom: 45px;
}

button {
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

button:hover {
  background-color: transparent;
  border: 2px solid var(--primary);
  cursor: pointer;
}

.certificate {
  width: 30%;
  background-color: var(--bg-color);
  padding: 50px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.certificate .section-title {
  font-size: 4vw;
  padding-top: 0;
}

.certi-box {
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.certi-btn {
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

.certi-btn:hover {
  background-color: transparent;
  border: 2px solid var(--primary);
  cursor: pointer;
}

.project {
  width: 100%;
  padding: 50px 0;
}

.project-container {
  background-color: var(--bg-color);
  border-radius: 25px;
  padding: 50px 0;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 400px;
}

.projectSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projectSwiper .swiper-button-next,
.projectSwiper .swiper-button-prev {
  background: var(--primary);
  color: var(--secondary);
  border-radius: 100%;
  padding: 30px;
  font-size: 20px;
}

.projectSwiper .swiper-button-next:after,
.projectSwiper .swiper-button-prev:after {
  font-size: 30px;
}

.card {
  height: 100%;
  width: 50%;
  padding: 20px;
  background: var(--secondary);
  border-radius: 20px;
  margin: 1em;
  overflow: hidden;
  text-align: center;
  border: 3px solid #000;
}

.img-container {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 10px;
  border: 3px solid #000;
  scrollbar-face-color: var(--primary);
}

/* ===== Scrollbar CSS ===== */

/* Firefox */
.img-container {
  scrollbar-width: auto;
  scrollbar-color: var(--primary);
  border-radius: 5px;
}

/* Chrome, Edge, and Safari */
.img-container::-webkit-scrollbar {
  width: 5px;
}

.img-container::-webkit-scrollbar-track {
  background: var(--secondary);
}

.img-container::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 5px;
  border: 1px solid var(--secondary);
}

.project-img {
  width: 100%;
  background-size: cover;
}

.card-content {
  width: 30%;
  height: 100%;
  padding: 20px;
  background: var(--secondary);
  border-radius: 20px;
  margin: 1em;
  overflow: hidden;
  text-align: center;
  border: 3px solid #000;
}

.card-content h5 {
  color: black;
  font-size: 1.75em;
  margin-bottom: 1em;
}


.card-content span {
  font-size: 16px;
  line-height: 27px;
}

.card-content .button {
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 30px;
  transition: 0.4s ease;
}

.card-content .button:hover {
  color: var(--primary);
  background-color: transparent;
  border: 2px solid var(--primary);
  cursor: pointer;
}

.skill {
  padding: 50px 0;
}

.skill-container {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 25px;
  padding: 50px 0;
}

.skill-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.skill-card {
  width: 125px;
  height: fit-content;
  background: var(--secondary);
  border-radius: 20px;
  text-align: center;
  border: 3px solid #000;
}

.skill-card img {
  width: fit-content;
  height: auto;
  margin: 1.5em;
  background-color: var(--secondary);
  border-radius: 10px;
  object-fit: cover;
}

.skill-card p {
  background-color: #000;
  color: var(--secondary);
  font-size: 1vw;
  font-weight: bold;
  width: 100%;
  padding: 0.5em 1em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#contact-me {
  padding: 50px 0;
}

.contact-container {
  padding: 50px;
  background-color: var(--bg-color);
  border-radius: 25px;
}

.contact-box {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.contact-me {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.contact-me h4 {
  color: var(--primary);
  font-size: 40px;
}

.contact-me p {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.contact-me .button-two {
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 1em;
  padding: 10px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

.contact-me .button-two:hover {
  background-color: transparent;
  border: 2px solid var(--primary);
  cursor: pointer;
}

.newslatter {
  width: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.newslatter input {
  width: 100%;
  text-align: center;
  font-size: 1em;
  padding: 14px 130px;
  color: #000;
  border: 2px solid var(--primary);
  outline: none;
  border-radius: 30px;
}

.newslatter input:last-child {
  width: fit-content;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: var(--primary);
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}

.newslatter input[placeholder] {
  color: #000;
  background-color: var(--secondary);
}

footer {
  width: 100%;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 75px 25px 25px;
}

footer p:nth-child(1) {
  font-size: 34px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: white;
  font-size: 20px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}

.social {
  display: inline-flex;
  gap: 20px;
}

.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 50%;
  margin: 22px 0;
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.end {
  color: var(--primary);
  font-size: 24px;
}

/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width: 1199.98px) {

  .home,
  .about,
  .project,
  .skill,
  #contact-me {
    padding: 25px 0;
  }

  .section-title {
    padding-top: 10px;
    font-size: 70px;
  }

  .logo {
    font-size: 30px;
    letter-spacing: 1px;
  }

  nav {
    padding: 0.5em 2.5%;
  }

  nav ul {
    padding: 15px;
  }

  nav ul li {
    padding: 0.5em 1.5em;
  }

  nav ul li a {
    font-size: 16px;
  }

  .home-container {
    padding: 50px;
  }

  .home-container div img {
    padding: 1em 0;
  }

  .home-container div h1 {
    font-size: 4em;
  }

  .home-container div h3,
  .home-container div h4 {
    font-size: 1.5em;
  }

  .about {
    width: 100%;
    flex-direction: column;
  }

  .about-container {
    width: 100%;
  }

  .about-text {
    padding: 2em;
  }

  .certificate {
    width: 100%;
    padding-top: 50px;
  }

  .box {
    gap: 15px;
  }

  .skill-card p {
    padding: 1em;
  }

  #contact-me {
    padding-bottom: 50px;
  }

  .contact-me {
    width: 50%;
  }

  .contact-me p {
    padding: 0 15px;
  }

  .newslatter {
    width: 400px;
  }

}

/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width: 991.98px) {}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width: 767.98px) {

  .home,
  .about,
  .project,
  .skill,
  #contact-me {
    padding: 25px 0;
  }

  .about-container,
  .certificate,
  .contact-container {
    padding-bottom: 100px;
  }

  .section-title {
    padding: 50px 0 30px;
    font-size: 100px;
  }

  .home {
    height: auto;
    margin-top: 0;
    padding-top: 0;
  }

  nav {
    width: 100%;
    position: relative;
    padding: 1.5em 0;
  }

  .logo {
    font-size: 50px;
    letter-spacing: 1px;
    padding: 30px;
  }

  nav ul {
    display: inline-flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 1%;
    width: 98%;
    padding: 0;
    border-radius: 25px;
  }

  nav ul li {
    padding: 2em;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--secondary);
  }

  nav ul li a i {
    color: var(--primary);
    font-size: 2.5em;
    visibility: visible;
  }

  .btn {
    font-size: 2em;
    padding: 30px;
  }

  .home-container {
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    padding: 100px 0;
    gap: 10px;
  }

  .home-container div img {
    width: 100%;
  }

  .home-container div h1 {
    font-size: 6em;
  }

  .home-container div h3 {
    font-size: 2.5em;
  }

  .home-container div h4 {
    margin: 60px 0 30px;
    font-size: 2.5em;
  }

  .buy-coffee {
    margin: auto;
    border-radius: 35px;
    margin-top: 40px;
  }

  .buy-coffee button {
    padding: 15px 30px;
    font-size: 2em;
  }

  .about {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .about-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  .about img {
    height: auto;
    width: 500px;
    margin-top: 3em;
    border-radius: 2.5em;
    box-shadow: 1px 2px 1px 2px var(--primary);
  }

  .about-text h4 {
    letter-spacing: 2px;
    font-size: 40px;
    margin-bottom: 25px;
  }

  .about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 24px;
    margin-bottom: 45px;
  }

  button {
    font-size: 1.5em;
  }

  .certificate {
    width: 100%;
  }

  .certificate .section-title {
    font-size: 100px;
  }

  .certi-box {
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .certi-btn {
    font-size: 1.5em;
  }

  .about-text {
    margin-left: 2em;
  }

  .project,
  .skill {
    height: auto;
  }

  .box {
    padding: 50px 0;
  }

  .card {
    height: auto;
    width: 90%;
  }

  .card-content {
    width: 90%;
    height: 100%;
  }

  .card,
  .img-container,
  .skill-card {
    border: 5px solid #000;
  }

  .skill-card p {
    padding: 1em;
  }

  .contact-box {
    flex-direction: column;
    gap: 100px;
  }

  .contact-me {
    width: 100%;
  }

  .contact-me h4 {
    font-size: 50px;
  }

  .contact-me p {
    font-size: 40px;
  }

  .contact-me .button-two {
    font-size: 1.5em;
    padding: 15px 30px;
  }

  .newslatter {
    width: 100%;
    max-width: 700px;
  }

  .newslatter input {
    width: 100%;
    font-size: 1.5em;
  }

  .newslatter input:last-child {
    padding: 15px 30px;
  }

  footer {
    padding-bottom: 150px;
  }

  footer p:nth-child(1) {
    font-size: 50px;
  }

  footer p:nth-child(2) {
    font-size: 26px;
  }

  .social a {
    font-size: 30px;
  }

}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width: 575.98px) {}