.container {
  font-family: "Readex Pro", sans-serif;
  background-color: #18157c;
  padding: 10%;
}

.about {
  line-height: 2em;
}

.about h3 {
  color: #eade71;
  font-size: 30px;
  text-align: justify;
  margin-bottom: 30px;
}

.about p {
  color: white;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 10%;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "Readex Pro", sans-serif;
  color: #18157c;
  font-weight: bold;
}

.block ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
}

.block-head {
  font-size: 1.6rem;
}

.block-text {
  font-size: 1.1rem;
}

.block-img {
  width: 2rem;
}

.block-img:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

#education,
#food,
#health,
#tree {
  padding-top: 60px;
  width: 400px;
  height: 300px;
  box-shadow: 0px 0px 20px 2px #eade71;
  background-color: #eade71;
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 100px;
  }

  .block {
    flex-direction: column;
    gap: 20px;
  }

  #education,
  #food,
  #health,
  #tree {
    width: 300px;
    height: auto;
  }

  @media screen and (max-width: 576px) {}
}