@import url('bootstrap/dist/css/bootstrap.css');

:root {
  --mrr-white: #FFF;
  --mrr-black: #3A3A3A;
  --mrr-dark-color: #26354E;
  --mrr-main-color: #1B9C85;
  --mrr-accent-color: #11D486;
  --mrr-gradient-1: linear-gradient(45deg, var(--mrr-accent-color) 0%, var(--mrr-main-color) 50%, var(--mrr-accent-color) 100%);
  --mrr-gradient-2: linear-gradient(135deg, var(--mrr-dark-color) 0%, var(--mrr-main-color) 50%, var(--mrr-dark-color) 100%);
}


/* =================reset css starts here=================  */
*{margin:0;padding:0;}
html{scroll-behavior: smooth;scroll-padding-top: 70px;}
h1,h2,h3,h4,h5,h6,p,ul,li,body,html,form,fieldset{margin:0;padding:0;outline:none;border:0}
a{text-decoration:none;border:0;outline:0;}
ul{list-style:none;}
a:focus,input:focus,textarea:focus,*:focus{outline:0!important;}
/* =================reset css ends here================= */
/* =================core css starts here================= */
body{font-family: var(--font-josefinSans);font-size:16px;line-height:1.6;font-weight:300;;color: inherit;background: var(--mrr-white);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale; }
.container{width:100%;max-width:1320px;}
a,input,button{display:inline-block;text-decoration:none;color:inherit;outline:none;transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;}
a img{border:0px none;}
a:hover{outline:none;color:var(--mrr-main-color);text-decoration:none;}
a:active{outline:none;text-decoration:none;}
a:focus{outline:none;outline-offset:0px;text-decoration:none;color:inherit;}
::-webkit-input-placeholder{color:var(--mrr-dark-color);opacity:0.5;}
::-moz-placeholder{color:var(--mrr-dark-color);opacity:0.5;}
:-moz-placeholder{color:var(--mrr-dark-color);opacity:0.5;}
:-ms-input-placeholder{color:var(--mrr-dark-color);opacity:0.5;}
img{max-width:100%;border:0;height:auto;}
h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;margin-bottom:20px;font-family: var(--font-outfit);line-height:1.2;font-weight:600;color:inherit;}
h1{font-size:58px;}
h2{font-size:48px;}
h3{font-size:40px;}
h4{font-size:30px;}
h5{font-size:24px;}
h6{font-size:20px;}
p{margin:0px;padding:0px;margin-bottom:20px;}
strong{font-weight:700;}
b{font-weight:400;}
p:last-child{margin-bottom:0;}

.btn {min-width: 160px;width: fit-content;border-radius: 80px;padding: 16px 20px;font-family: var(--font-outfit);font-size: 16px;font-weight: 700;line-height: 1;box-shadow: none;position: relative;justify-content: center;}


.btn:has(.btn-icon) {position: relative;display: inline-flex;align-items: center;min-height: 50px;padding: 6px 25px;padding-right: 60px;font-size: 18px;font-weight: 600;line-height:1;letter-spacing: 0.02em;text-align: left;border-radius: 25px;box-shadow:none;border: 0;overflow: hidden;transition: all 0.3s ease-in-out;}
.btn-icon{width: 40px;height: 40px;position: absolute;top: 50%;display: flex;align-items: center;justify-content: center;transition: all 0.3s ease-in-out;background: rgba(255,255,255, 0.25);}
.btn-icon i{transition: all 0.3s ease-in-out;}
.btn:has(.btn-icon):hover {padding-left: 60px;padding-right: 25px;}
.btn:has(.btn-icon):hover .btn-icon{will-change: transform;transform-origin: 50% 50% 0px;}
.btn-icon.left{left: 6px;transform: translateY(-50%) translateX( -60px) scale(0.1);filter: blur(7px);opacity: 0;border-radius: 0;}
.btn:has(.btn-icon):hover .btn-icon.left{transform: translatey(-50%) translateX(0) scale(1);filter: blur(0px);opacity: 1;border-radius: 50%;}
.btn-icon.right{right: 6px;transform: translateY(-50%) translateX(0) scale(1);filter: blur(0px);opacity: 1;border-radius: 50%;}
.btn:has(.btn-icon):hover .btn-icon.right{transform: translateY(-50%) translateX(60px) scale(0.1);filter: blur(7px);opacity: 0;border-radius: 0;}

.btn-default,.btn-default:focus { color: var(--mrr-dark-color);background-color: var(--mrr-white);border: solid 2px var(--mrr-white); }
.btn-default:hover,.btn-default:active { color: var(--mrr-dark-color)!important;background-color: var(--mrr-white)!important;border-color: var(--mrr-white)!important;}
.btn-default .btn-icon { background-color: var(--mrr-dark-color);color: var(--mrr-white);}
.btn-violet,.btn-violet:focus { color: var(--mrr-white);background-color: var(--mrr-dark-color);border: solid 2px var(--mrr-dark-color); }
.btn-violet:hover,.btn-violet:active { color: var(--mrr-dark-color)!important;background-color: transparent!important;border-color: var(--mrr-dark-color)!important;}
.btn-green,.btn-green:focus { color: var(--mrr-white);background-color: var(--mrr-main-color);border: solid 2px var(--mrr-main-color); }
.btn-green:hover,.btn-green:active { color: var(--mrr-main-color)!important;background-color: transparent!important;border-color: var(--mrr-main-color)!important;}
.btn-gradient,.btn-gradient:focus { transition: 0.5s;background-size: 200% auto;color: var(--mrr-white);display: block;box-shadow: 0px 0px 14px -7px #11D486;background-image: linear-gradient(45deg, #1B9C85 0%, #11D486  51%, #1B9C85  100%);user-select: none;-webkit-user-select: none;touch-action: manipulation;}
.btn-gradient:hover,.btn-gradient:active { background-position: right center;color: var(--mrr-white);text-decoration: none;transform: scale(0.95);}
.btn-gradient-dark,.btn-gradient-dark:focus { transition: 0.5s;background-size: 200% auto;color: var(--mrr-white);display: block;box-shadow: 0px 0px 14px -7px #1B9C85;background-image: linear-gradient(45deg, #26354E 0%, #1B9C85  51%, #26354E  100%);user-select: none;-webkit-user-select: none;touch-action: manipulation;}
.btn-gradient-dark:hover,.btn-gradient-dark:active { background-position: right center;color: var(--mrr-white);text-decoration: none;transform: scale(0.95);}
.btn.btn-block{min-width: 100%;}
.bottom-btn-box{margin-top: 40px;}

.text-dark{ color: var(--mrr-dark-color)!important;}
.text-main{ color: var(--mrr-main-color)!important;}
.text-accent{ color: var(--mrr-accent-color)!important;}

.bg-dark{background-color:var(--mrr-dark-color)!important;color: var(--mrr-white);}
.bg-main{background-color: var(--mrr-main-color)!important;color: var(--mrr-white);}
.bg-accent{background-color: var(--mrr-accent-color)!important;color: var(--mrr-white);}
.bg-gradient-1{background: var(--mrr-gradient-1)!important;color: var(--mrr-white);}
.bg-gradient-2{background: var(--mrr-gradient-2)!important;color: var(--mrr-white);}
.bg-grey{background-color: #f5f5f5;}
.bg-glass{background-color:rgba(255,255,255,0.3);box-shadow:0 4px 30px rgba(0,0,0,0.1);backdrop-filter:blur(5px);border:2px solid rgba(255,255,255,0.3);}
.bg-graphic{background-image: url(/logo-outline.svg);background-size: 30px 30px;background-position: center;}

.bg-clip-text{background-clip: text!important;color: transparent!important;}

.heading{width: 100%;font-size: 18px;font-weight: 300;line-height: 1.6;margin-bottom: 60px;padding-left: 20px;}
.heading h3{font-family: var(--font-outfit);font-size: 60px;line-height: 1;margin-bottom: 0;position: relative;}
.heading h3+p{margin-top: 30px;}
.heading::after{content: "";position: absolute;left: 0;top: 0;width: 4px;height:4px;background: var(--mrr-dark-color);border-radius: 50%;}
.heading-underline{ width:4px;height:calc(100% - 14px);background:var(--mrr-white);border-radius:10px;overflow: hidden;position: absolute;left: 0;bottom: 6px;}
.heading-underline::after{content: "";position: absolute;left: 0;top: 0;width: 100%;height: 50%;background: var(--mrr-dark-color);animation: anima 2s linear infinite;border-radius: 20px;}

.bg-dark .heading::after{background: var(--mrr-gradient-1);}
.bg-dark .heading-underline::after{background: var(--mrr-gradient-1);}
.bg-gradient-2 .heading::after{background: var(--mrr-gradient-1);}
.bg-gradient-2 .heading-underline::after{background: var(--mrr-gradient-1);}
.bg-gradient-1 .heading::after{background: var(--mrr-dark-color);}
.bg-gradient-1 .heading-underline::after{background: var(--mrr-dark-color);}

.custom-arrow-container .custom-arrow-prev{transform:rotate(180deg);}
.custom-arrow-container .custom-arrow-next{margin-left: 20px;}
.custom-arrow-container .swiper-button-disabled{opacity:0.5!important;background:transparent!important;border-color:transparent!important;cursor:no-drop!important;}
.custom-arrow-button{width:50px;height:50px;padding: 10px;font-size: 24px;font-weight: 700;line-height: 1;}
.custom-arrow-button img{width: 100%;height: 100%;object-fit: contain;transition:all 0.2s ease-in;}
.custom-arrow-button:hover{background:var(--mrr-dark-color);border-color: var(--mrr-dark-color);}

.bg-dark .custom-arrow-button:hover {background: var(--mrr-main-color);border-color: var(--mrr-main-color);}
.bg-gradient-2 .custom-arrow-button:hover {background: var(--mrr-dark-color);border-color: var(--mrr-dark-color);}
/* =================core css ends here================= */

@keyframes anima {
  0%,100%{transform:translateY(0)}
  50%{transform:translateY(100%)}
}

@keyframes puterin {
  100%{transform:rotate(360deg)}
}

@keyframes orbit {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: rgba(237,237,237,0.3);backdrop-filter: blur(5px);}
::-webkit-scrollbar-thumb {background: var(--mrr-main-color);}

.content-container{padding: 120px 0;}

.banner-container:has(+ .about-intro-container){padding-bottom: 400px;}
.banner-container:has(+ .portfolio-container){padding-bottom: 400px;}
.ai-content-box{border-radius: 20px;padding: 40px;position: relative;z-index: 9;margin-top: -400px;}
.ai-img-box{width: 40%;position: relative;}
.ai-img{width: 80%;position: relative;padding-bottom: 80%;border-radius: 50%;overflow: hidden;z-index: 5;}
.ai-img img{width: 100%;height: 100%;object-fit: cover;position: absolute;top: 0;left: 0;object-position: top;}
.ai-text{font-size: 18px;font-weight: 300;line-height: 1.3;width: 60%;padding-left:5%;align-self: center;}
.ai-text h5{font-size: 24px;font-weight: 500;line-height: 1.6;letter-spacing:2px;margin-bottom: 20px;}
.ai-text .btn{margin-top: 20px;}
.ai-img::after {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;border-radius: 50%;border: 5px solid var(--mrr-white);background-color: transparent;border-right-color: var(--mrr-main-color);animation: puterin 2s linear infinite;}

.ai-skill-box{margin-top: 30px;padding: 40px;border-radius: 20px;}
.skill-card-list{width: 100%;margin-bottom: -5px;}
.skill-card-item{width: 12.5%;padding: 0 2.5px;margin-bottom: 5px;}

.text-scroll-wrapper {display: flex;overflow: hidden;position: relative;white-space: nowrap;width: calc(100% + 40px);margin: 0 -20px;mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);}
.text-scroll-list {display: flex;animation: scroll-horizontal 15s linear infinite;}
.text-scroll-item {flex: 0 0 auto;padding: 0 2rem;}
.text-scroll-box h5{margin-bottom: 0;}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.timeline-img-box{width: 100%;height: 100%;filter: drop-shadow(2px 4px 6px var(--mrr-accent-color));}
.timeline-img-box img{width: 100%;height: 100%;object-fit: contain;}
.timeline { display: flex; margin: 0 auto; flex-wrap: wrap; flex-direction: column; max-width: 800px; position: relative; }
.timeline-content-title {font-size: 32px;color: var(--mrr-accent-color);margin-bottom: 10px;}
.timeline-content-desc {font-size: 18px;font-weight: 400; line-height: 1.2;color: var(--mrr-white);}
.timeline:before {position: absolute;left: 0;top: 30px;width: 5px;height: calc(100% - 30px);margin-left: 8px;content: "";border-left: 5px dashed var(--mrr-white);opacity: 0.7;mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0.1) 100%);}
.timeline-content-desc li + li {margin-top: 10px;}
.timeline-item + .timeline-item {margin-top: 80px;}
.timeline-item { padding-left: 40px; transition: 0.5s; box-sizing: border-box; width: 100%; display: flex; align-self: flex-end; position: relative;}
.timeline-item:before {content: '';position: absolute;left: 0;top: 12px;width: 20px;height: 20px;border-radius: 50%;background: var(--mrr-main-color);}
.timeline-container { width: 100%; position: relative; padding: 40px 0; transition: 0.3s ease 0s; background-attachment: fixed; background-size: cover; background-position: center; }
.timeline-content-desc span{position: relative;padding-right: 20px;margin-right: 10px;}
.timeline-content-desc span:before {content: '';position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: 10px;height: 10px;border-radius: 50%;background: var(--mrr-main-color);}
.timeline-content-desc li{position: relative;padding-left: 30px;}
.timeline-content-desc li::before{content: '';width: 12px;height: 4px;position: absolute;top: 50%;left: 0;transform: translateY(-50%);border-radius: 8px;background: var(--mrr-accent-color);}
.timeline-content-desc li::after{content: '';width: 4px;height: 4px;position: absolute;top: 50%;left: 16px;transform: translateY(-50%);border-radius: 50%;background: var(--mrr-accent-color);}

.sticky-sidebar-box{position: sticky;top: 30px;height: 100vh;}
.stats-content-box{width: 100%;border-radius:16px;padding: 40px;}
.stats-title h4{color: var(--mrr-white);font-size:28px;font-weight: 600;line-height: 1;margin-bottom:4px;}
.stats-title h3{color: var(--mrr-white);font-size:72px;font-weight: 700;line-height: 1;margin-bottom:0;text-transform: uppercase;}
.stats-list{width: calc(100% + 24px);margin: 0 -12px;margin-bottom: -60px;}
.stats-item {width: 33.33%;padding: 0 12px;margin-bottom: 60px;}
.stats-icon{background: var(--mrr-white);width:72px;height:72px;border:5px solid var(--mrr-dark-color);border-radius:50%;color: var(--mrr-dark-color);font-size: 36px;font-weight: 700;line-height: 1;}
.stats-count span{color: var(--mrr-dark-color);font-size: 40px;font-weight: 700;line-height: 1;margin-bottom: 10px;}
.stats-description{font-weight:600;color: var(--mrr-white);font-size:16px;}


.page_404{padding: 60px 0;min-height: 100vh;font-family: var(--font-josefinSans);}
.page_404  img{ width:100%;}
.page_404-bg{background-image: url(https://cdn.dribbble.com/users/722246/screenshots/3066818/404-page.gif);height: 400px;background-position: center;background-repeat: no-repeat;background-size: contain;}			 


.cursor-element {position: fixed;pointer-events: none; top: 0;left: 0;}        
.ring-outer {width: 60px;height: 60px;border: 2px solid rgba(17, 212, 134, 0.4);border-radius: 50%;z-index: 9999;}        
.ring-middle {width: 40px;height: 40px;border: 2px solid rgba(255, 255, 255, 0.6);border-radius: 50%;z-index: 9999;}        
.ring-inner {width: 20px;height: 20px;border: 2px solid rgba(17, 212, 134, 0.8);border-radius: 50%;z-index: 9999;}        
.cursor-dot {width: 4px;height: 4px;background-color: var(--mrr-white);border-radius: 50%;box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);z-index: 10000 ;}


@keyframes boxAnimate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-2000px) rotate(720deg);
        opacity: 0;
    }
}

.box-animated-bg {width: 100%;height: 100%;position: absolute; top: 0;left: 0;overflow: hidden;filter: blur(5px);}
.box-animated-bg li {position: absolute;display: block;list-style: none;width: 20px;height: 20px;background: rgba(255, 255, 255);border-radius: 20%;animation: boxAnimate 14s linear infinite;opacity: 0.2;}


.box-animated-bg li:nth-child(4n+1){background: var(--mrr-accent-color);}
.box-animated-bg li:nth-child(4n+2){background: var(--mrr-main-color);}
.box-animated-bg li:nth-child(4n+3){background: var(--mrr-gradient-1);}
.box-animated-bg li:nth-child(4n+4){background: var(--mrr-gradient-2);}
.box-animated-bg li:nth-child(0) {left: 26%;width: 38px;height: 38px;bottom: -38px;animation-delay: 1s;}
.box-animated-bg li:nth-child(1) {left: 59%;width: 215px;height: 215px;bottom: -215px;animation-delay: 1s;}
.box-animated-bg li:nth-child(2) {left: 26%;width: 167px;height: 167px;bottom: -167px;animation-delay: 1s;}
.box-animated-bg li:nth-child(3) {left: 77%;width: 232px;height: 232px;bottom: -232px;animation-delay: 1s;}
.box-animated-bg li:nth-child(4) {left: 31%;width: 223px;height: 223px;bottom: -223px;animation-delay: 11s;}
.box-animated-bg li:nth-child(5) {left: 25%;width: 270px;height: 270px;bottom: -270px;animation-delay: 21s;}
.box-animated-bg li:nth-child(6) {left: 49%;width: 124px;height: 124px;bottom: -124px;animation-delay: 16s;}
.box-animated-bg li:nth-child(7) {left: 58%;width: 60px;height: 60px;bottom: -60px;animation-delay: 25s;}
.box-animated-bg li:nth-child(8) {left: 72%;width: 267px;height: 267px;bottom: -267px;animation-delay: 11s;}
.box-animated-bg li:nth-child(9) {left: 5%;width: 127px;height: 127px;bottom: -127px;animation-delay: 25s;}
.box-animated-bg li:nth-child(10) {left: 28%;width: 188px;height: 188px;bottom: -188px;animation-delay: 49s;}
.box-animated-bg li:nth-child(11) {left: 84%;width: 249px;height: 249px;bottom: -249px;animation-delay: 16s;}
.box-animated-bg li:nth-child(12) {left: 51%;width: 255px;height: 255px;bottom: -255px;animation-delay: 44s;}
.box-animated-bg li:nth-child(13) {left: 40%;width: 54px;height: 54px;bottom: -54px;animation-delay: 31s;}
.box-animated-bg li:nth-child(14) {left: 80%;width: 56px;height: 56px;bottom: -56px;animation-delay: 33s;}
.box-animated-bg li:nth-child(15) {left: 73%;width: 189px;height: 189px;bottom: -189px;animation-delay: 18s;}
.box-animated-bg li:nth-child(16) {left: 43%;width: 186px;height: 186px;bottom: -186px;animation-delay: 11s;}
.box-animated-bg li:nth-child(17) {left: 78%;width: 120px;height: 120px;bottom: -120px;animation-delay: 7s;}
.box-animated-bg li:nth-child(18) {left: 27%;width: 284px;height: 284px;bottom: -284px;animation-delay: 58s;}
.box-animated-bg li:nth-child(19) {left: 72%;width: 265px;height: 265px;bottom: -265px;animation-delay: 46s;}
.box-animated-bg li:nth-child(20) {left: 58%;width: 241px;height: 241px;bottom: -241px;animation-delay: 62s;}
.box-animated-bg li:nth-child(21) {left: 22%;width: 155px;height: 155px;bottom: -155px;animation-delay: 97s;}



/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
.content-container{padding: 80px 0;}
.container{width: calc(100% - 16px);}

.skill-card-item{width: 16.66%;}
}

/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){
.content-container{padding: 60px 0;}

.skill-card-item{width: 20%;}

.stats-item {width: 50%;}
}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width: 767.98px) {
.content-container {padding: 40px 0;}

.heading{font-size: 14px;margin-bottom: 40px;}
.heading h3{font-size: 48px;}
.heading h3+p{margin-top: 15px;}

.ai-img-box{width: 100%;}
.ai-text{width: 100%;margin-top: 60px;padding-left: 0;}

.skill-card-item{width: 25%;}

.stats-content-box{padding: 30px 20px;}
.stats-item{width: 50%;}
}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){
.heading h3{font-size: 38px;}

.skill-card-item{width: 33.33%;}

.ai-content-box{padding: 20px;}
.text-scroll-wrapper{width: calc(100% + 20px);margin: 0 -10px;}
.ai-skill-box{padding: 20px;}

.logo{font-size:20px}
.logo::before{margin-top:25px}
.logo.zoom{font-size:22px}

.a-img {width: 250px;height: 250px;}

.timeline-content-title {font-size: 26px;}
.timeline-content-desc {font-size: 16px;}

.stats-item{width: 100%;}
}

@media (max-width:424.98px){
.skill-card-item{width: 50%;}
}


