* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 16px;
    margin: auto;
    color: #121212;
}

.nav-wrapper {
    background-color: #121212;
    color: white;
    padding: 2vh 13rem;
    width: 100%;
    position: static;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-wrapper img {
    width: auto;
    height: 1rem;
    align-items: center;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list span {
    display: flex;
}

.menu-items {
    font-size: 1.25em;
    font-weight: bold;
    display: block;
    color: #FCAF3B;
    text-align: center;
    padding: 0.8rem 1rem;
    text-decoration: none;
}

.menu-items:hover {
    color: #121212;
    background-color: #ededed;
}

.container {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: block  ;
    text-align: center;
    position: relative;

}

.container img {
    width: 100%;
    overflow: hidden;
}

.home-info {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h1 {
    font-size: 6vw;
    margin: 0 0 30px;

}

.container p {
    font-size: 1rem;
    margin: 0 0 30px;
}

.btn-1 {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 2rem;
    color: #121212;
    background-color: #FCAF3B;
    text-decoration: none;
    margin-top: 1em;
}

.btn-2 {
    font-size: 16px ;
    font-weight: bold;
    padding: 16px 35px;
    color: #121212;
    border: 2px solid #121212;
    text-decoration: none;
}

#block {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    text-align: center;
    padding: 7.53em;
}

.container-1 img {
    margin: 0 0 30px;
}

.container-1 h3 {
    font-size: 24px;
    margin: 0 0 30px;

}

.container-1 p {
    font-size: 17px;
    margin: 0 60px 30px;

}

.contact-info, .about-info, .services-info, .team-info {
    padding: 3em 7.5em;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1em;   
} 

.about-info h3, .services-info h3, .team-info h3, .contact-info h3 {
    background-color: #FCAF3B;
    color: #121212;
    padding: 1em;
    font-size: 3em;
    text-align: center;   
}

.contact-details h4 {
    font-size: 2em;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #121212;
    color: white;
}

.about-us {
    display: flex;
}

.web-design, .graphic-design {
    padding: 7.5em;
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
}

.app-design, .photography {
    padding: 7.5em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.text-container {
    padding: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container h3{
    font-size: 3em;
}

.text-container p {
    padding: 2em 0em;
}

.user {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    text-align: center;
    justify-content: center;    
}

.user-1, .user-2, .user-3 {
    margin: 30px;
}

.user ul {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.contact-form {
    padding: 7.5em;
}

.contact-form span {
    color: red; 
}

textarea {
    max-width: 35em;
    width: 35em;
    height: 10em;
}

.form-control {
    width: 35em;
    height: 4em;
}

.mb-3 p {
    padding-top: 1em;
    padding-bottom: 0.1em;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

footer {
    padding: 30px;
    background-color: #121212;
    color: white    ;
    text-align: center;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: #FCAF3B;
}

/*--responsive for mobile phone--*/
@media (min-width: 375px) {
	.body {
		width: 325px;
		margin: 0 auto 1rem;
	}
}