/* =================  Hero-start  ================= */
.hero-content {min-height: 100vh;width: 100%;padding: 80px 0;}
.hero-bg { width: 100%;height: 100%;position: absolute; top: 0;left: 0;filter: blur(5px);background-repeat:no-repeat;background-position:center;background-size:cover;background-attachment: fixed;}
.hero-left {width: 45%;position: relative;position: relative;}
.hero-right {width: 50%;padding-left: 5%;z-index: 1;}
.hl-content {width: 100%;height: 100%;position: relative;aspect-ratio: 1;}
.hl-orbit-1{width: 50%;height: 50%;position: absolute;margin: -50px auto;animation: orbit 5s linear infinite;}
.hero-img {width: 45%;height: 50%;border-radius: 50%;overflow: hidden;position: relative;}
.hero-img img { width: 100%; height: 100%; object-fit: cover;object-position: top;}
.hero-img-box::before{content:'';position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);width:120%;height:120%;background: url(/animate-bg.svg) center / contain no-repeat ;}
.hero-icon {position: absolute;width: 60px;height: 60px;padding: 15px;border-radius: 50%; z-index: 9;}
.hero-icon img{width: 100%;height: 100%;object-fit: cover;}
.hero-icon.hi-1 {top: 0%;background: #ff6c39;right: 100%;}
.hero-icon.hi-2 {bottom: 0%;background: #2965f1;right: 100%;}
.hero-icon.hi-3 {top: 0%;background: #ffd814;left: 100%;}
.hero-icon.hi-4 {bottom: 0%;background: #5ed3f3;left: 100%;}
.hr-content h1{font-size:60px;font-weight:600;line-height:1;color:var(--mrr-white);margin-bottom:24px;}
.hr-content h3{color: var(--mrr-white);font-size:32px;}
.hr-content h4{color:var(--mrr-white);letter-spacing:2px;font-size:32px;margin-bottom:24px}
.hr-content {font-size: 18px;line-height: 1.5;position: relative;}

/* ================= Hero-End  ================= */



/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
.hero-bg{background-attachment: scroll;}
.hero-container h1{font-size:54px;}
.hero-btn{margin-top:45px;}
}
/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){
    .hr-content h1 {font-size: 48px;}
    .hr-content h2 {font-size: 48px;}
    .hr-content h3 {font-size: 20px; margin-bottom: 15px;}
    .hr-content{font-size:16px;}
}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px){
    .hero-content {min-height: calc(100vh - 80px);}
    .hero-left {width: 100%;max-width: 500px;margin: 0 auto;padding-right: 0;}
    .hero-right { width: 100%; margin-top: 30px;padding-left: 0;}    
    .hr-content{font-size:14px;}
}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){
    .hr-content{width: 100%;}
    .hero-btn-box .btn+.btn{margin-left:0;margin-top:20px;}
}
