/* =================  Hero-start  ================= */
.hero-container {height: 100vh;width: 100%;}
.hero-bg { width: 100%;height: 100%;position: absolute; top: 0;left: 0;filter: blur(5px);}
.hero-bg img {width: 100%;height: 100%;object-fit: cover;}
.hero-left {width: 55%;position: relative;padding-right: 5%;}
.hero-right {width: 45%; z-index: 1;}
.hero-content {padding: 80px;}
.hl-content {width: 100%;height: 100%;position: relative;aspect-ratio: 1;width: 100%;height: 100%;border-radius: 50%;border: 2px dashed var(--gold);}
.hl-content::before{content: '';position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); width: 75%;height: 75%;border-radius: 50%;border: 2px dashed var(--gold );}
.hl-orbit-1{width: 100%;height: 100%;position: absolute;margin: -50px auto;animation: orbit 15s linear infinite;}
.hl-orbit-2{ width: 75%;height: 75%;position: absolute;margin: -50px auto;animation: orbit 25s linear infinite;}
.hero-img {width: 50%;height: 50%;border-radius: 50%;overflow: hidden;position: relative;}
.hero-img img { width: 100%; height: 100%; object-fit: cover;object-position: top;}
.hero-icon {position: absolute;width: 60px;height: 60px;padding: 15px;border-radius: 50%; z-index: 9;}
.hero-icon img{width: 100%;height: 100%;object-fit: cover;}
.hero-icon.hi-1 {top: 22%;background: #ff6c39;left: 10%;margin: 20px;}
.hero-icon.hi-2 {bottom: 22%;background: #2965f1;right: 10%;margin: 20px;}
.hero-icon.hi-3 {top: -15%;background: #ffd814;left: 0;margin: 20px;}
.hero-icon.hi-4 {bottom: -15%;background: #5ed3f3;right: 0;margin: 20px;}
.ht-left h3 {font-size: 32px;margin-bottom: 0;line-height: 1.2;font-weight: 500;color: #629bed;}
.ht-left {position: absolute; left: 18px;}
.ht-right {font-size: 22px;line-height: 1.2;font-weight: 500;}
.hr-content h1{font-size:60px;font-weight:600;line-height:1;color:var(--white);margin-bottom:40px;}
.hr-content h3{color: var(--white);font-size:32px;}
.hr-content h4{color:var(--white);letter-spacing:2px;font-size:32px;margin-bottom:40px}
.hr-content span{color: var(--green);}
.hr-content {font-size: 18px;line-height: 1.5;}

/* ================= Hero-End  ================= */

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}


/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
.hero-container h1{font-size:54px;}
.hero-btn{margin-top:45px;}
.hero-text {padding: 15px;padding-left: 90px; left: 15%;}
.ht-left h3 {font-size: 24px;}
.ht-right { font-size: 18px;}

}
/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){
    .hero-img.hero-img-2 {left: 0;bottom: -35%;}    
    .hr-content h1 {font-size: 28px;}
    .hr-content h2 {font-size: 48px;}
    .hr-content h3 {font-size: 20px; margin-bottom: 15px;}
    .hr-content{font-size:16px;}
    
    .hero-text {top: auto;bottom: -42%;}
    .ht-left h3 {font-size: 20px;}
    .ht-right {font-size: 16px;}
}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px){
    .hero-left {width: 100%;padding-right: 0;}
    .hero-right { width: 100%; margin-top: 50px;}    
   
    .hero-img.hero-img-2 {width: 50%;height: 70%;left: 0;bottom: -20%;}
    .hero-left {margin-bottom: 13%;}
    .hr-content h1 {font-size: 24px;}
    .hr-content h2 {font-size: 38px;}
    .hr-content h3 {font-size: 18px; margin-bottom: 15px;}
    .hr-content{font-size:14px;}
    .hero-text {top: auto;bottom:-25%;}
    .ht-right {font-size: 14px;}
    .ht-left h3 { font-size: 18px;}
    .hero-text {padding: 10px;padding-left: 75px;}
    .hero-btn-box .btn{margin-top:20px;}
    .hero-btn-box .btn+.btn{margin-left:0;}
    .hero-content {padding: 20px;}
}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){

}
