/* =================  Hero-start  ================= */
.hero-content {height: 100vh;width: 100%;padding: 80px 0;}
.hero-bg { width: 100%;height: 100%;position: absolute; top: 0;left: 0;filter: blur(5px);}
.hero-bg img {width: 100%;height: 100%;object-fit: cover;}
.hero-left {width: 45%;position: relative;position: relative;}
.hero-right {width: 50%;padding-left: 5%;z-index: 1;}
.hl-content {width: 100%;height: 100%;position: relative;aspect-ratio: 1;width: 100%;height: 100%;border-radius: 50%;border: 2px dashed var(--yellow);}
.hl-content::before{content: '';position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); width: 75%;height: 75%;border-radius: 50%;border: 2px dashed var(--yellow );}
.hl-orbit-1{width: 100%;height: 100%;position: absolute;margin: -50px auto;animation: orbit 15s linear infinite;}
.hl-orbit-2{ width: 75%;height: 75%;position: absolute;margin: -50px auto;animation: orbit 25s linear infinite;}
.hero-img {width: 45%;height: 50%;border-radius: 50%;overflow: hidden;position: relative;}
.hero-img img { width: 100%; height: 100%; object-fit: cover;object-position: top;}
.hero-img-box::before{content:'';position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);width:120%;height:120%;background: url(/animate-bg.svg) center / contain no-repeat ;}
.hero-icon {position: absolute;width: 60px;height: 60px;padding: 15px;border-radius: 50%; z-index: 9;}
.hero-icon img{width: 100%;height: 100%;object-fit: cover;}
.hero-icon.hi-1 {top: 22%;background: #ff6c39;left: 10%;margin: 20px;}
.hero-icon.hi-2 {bottom: 22%;background: #2965f1;right: 10%;margin: 20px;}
.hero-icon.hi-3 {top: -15%;background: #ffd814;left: 0;margin: 20px;}
.hero-icon.hi-4 {bottom: -15%;background: #5ed3f3;right: 0;margin: 20px;}
.hr-content h1{font-size:60px;font-weight:600;line-height:1;color:var(--white);margin-bottom:24px;}
.hr-content h3{color: var(--white);font-size:32px;}
.hr-content h4{color:var(--white);letter-spacing:2px;font-size:32px;margin-bottom:24px}
.hr-content span{color: var(--green);}
.hr-content {font-size: 18px;line-height: 1.5;position: relative;}

/* ================= Hero-End  ================= */



/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
.hero-container h1{font-size:54px;}
.hero-btn{margin-top:45px;}

}
/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){
    .hr-content h1 {font-size: 48px;}
    .hr-content h2 {font-size: 48px;}
    .hr-content h3 {font-size: 20px; margin-bottom: 15px;}
    .hr-content{font-size:16px;}
}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px){
    .hero-container {height: auto;}
    .hero-left {width: 100%;padding-right: 0;}
    .hero-right { width: 100%; margin-top: 50px;}    
    .hr-content{font-size:14px;}
    .hero-btn-box .btn{margin-top:20px;}
    .hero-btn-box .btn+.btn{margin-left:0;}
    .hero-content {padding: 20px;}
}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){

}
