.heading{width: 100%;font-size: 18px;font-weight: 300;line-height: 1.6;margin-bottom: 60px;}
.heading h3{font-family: var(--font-outfit);font-size: 60px;font-weight: 600;line-height: 1.3;margin-bottom: 0;position: relative;padding-bottom: 15px;}
.heading h3+p{margin-top: 30px;}
.heading h3::before{content:"";position:absolute;left: 0;bottom: 0; width:100%;height:5px;background-image:linear-gradient(to left,var(--yellow) 50%,#e0e0e0 50%);border-radius:10px}

@media (max-width:767.98px){
.heading{font-size: 14px;margin-bottom: 40px;}
.heading h3{font-size: 48px;}
.heading h3+p{margin-top: 15px;}
}

@media (max-width:575.98px){
.heading{width: fit-content;}
.heading h3{font-size: 38px;}
}