body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: lightgrey;
}
header {
  color: rgb(10, 37, 53);
  font-family: "Slabo 13px", serif;
  text-align: center;
}
#game-board {
  border-top: 5px solid rgb(10, 37, 53);
  text-align: center;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.keeping-track {
  padding: 0;
  margin: 0;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h2 {
  color: rgb(10, 37, 53);
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  margin: 50px 50px 0;
}

.start-page {
  background-color: antiquewhite;
  padding: 5%;
  border-radius: 25px;
  width: 75%;
  margin-top: 100px;
  align-self: center;
}

.hidden {
  display: none;
}

.question-form {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  margin: 0 auto;
  width: 85%;
  background-color: aliceblue;
  border-radius: 25px;
}

.answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 1.5em 100px;
}

.answer-choice {
  color: rgb(227, 231, 234);
  background-color: rgb(63, 102, 104);
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
  font-size: 1.25em;
  border: 2px solid rgb(135, 109, 92);
  border-radius: 10px;
}
input[type="radio"] {
  margin-left: 10px;
  width: 25px;
  height: 25px;
  accent-color: rgb(63, 102, 104);
}
span {
  margin-left: 5px;
  font-weight: lighter;
}
input[type="submit"] {
  color: rgb(63, 102, 104);
  background-color: rgb(227, 231, 234);
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 10px;
  width: 5em;
  height: 2em;
}

.feedback {
  background-color: antiquewhite;
  padding: 5%;
  border-radius: 25px;
  width: 50%;
  margin-top: 100px;
  align-self: center;
}

.start-button {
  align-self: center;
  font-weight: bold;
  border-radius: 10px;
  margin: 30px;
  width: 5em;
  height: 3em;
}

.nextButton {
  color: rgb(63, 102, 104);
  background-color: rgb(227, 231, 234);
  font-weight: bold;
  border-radius: 10px;
  width: 5em;
  height: 2em;
}

.restartButton {
  color: rgb(63, 102, 104);
  background-color: rgb(227, 231, 234);
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
  margin: 30px;
  width: 5em;
  height: 3em;
}

p {
  font-family: "Open Sans", sans-serif;
  color: rgb(10, 37, 53);
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: rgb(10, 37, 53);
}
@media screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 450px) {
  .start-page {
    width: 100%;
  }

  h2 {
    margin: 25px 15px 0;
  }

  .question-form {
    width: 100%;
    font-size: 1em;
  }

  .answers {
    padding: 25px;
  }
  .answer-choice {
    width: 80%;
    height: auto;
    font-size: 1.25em;
  }
  .feedback {
    width: 100%;
  }
}
