.contact {
    font-family: 'Readex Pro', sans-serif;
    background-color: #18157c;
    opacity: 80%;
    display: flex;
    flex-direction: column;
}

.contact-title {
    padding: 20px 200px;
}
.contact-title h3 {
    color: #EADE71;
    font-size: 1.75vw;
}

.contact-title h1 {
    color: white;
    font-size: 6vw;
    line-height: 10px;
}

.contact span {
    display: flex;
    flex-direction: row;
    font-family: 'Readex Pro', sans-serif;
    justify-content: space-around;
    color: #18157C;
}

.contact-form span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
}

li {
    list-style: none;
 }

#form-name, #form-email {
    background-color: #18157c;
    color: white;
    border-bottom: 1px solid white;
    width: 190px;
    height: 42px;  
}

#form-subject {
    background-color: #18157c;
    color: white;
    border-bottom: 1px solid white;
    width: 407px;
    height: 42px;
}

#form-message {
    background-color: #18157c;
    color: white;
    border-bottom: 1px solid white;
    width: 407px;
    height: 114px;
}

#form-submit {
    background-color: #18157c;
    color: white;
    width: 407px;
    height: 46px;
}

input::placeholder {
    color: white;
    font-size: 1rem;
    font-weight: 200;
    padding-left: 1rem;
    border-style: none;
} 

input:focus {
    outline: none;
    border-style: none;
}

#form-name:hover, #form-email:hover, #form-subject:hover, #form-message:hover {
    border-bottom: 3px solid white;
}

#donate-btn {
    background-color: #EADE71;
}

#submit:hover {
    background-color: black;
}

.social-links {
    color: white;
}