
@media (max-width: 1199.98px) {
.content-container{padding: 50px 0;}
}

@media (max-width:991.98px){
.content-container{padding: 80px 0;}
}

@media (max-width: 767.98px) {
.content-container {padding: 40px 0;}
}