@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");

:root {--transition-time: 0.2s cubic-bezier(0, 0.01, 1, 1)}

.calculator-container {font-family: "Noto Sans", sans-serif;width: 100%;background: linear-gradient(to right top,#845ec2,#7464c8,#6169cd,#4b6ed0,#2c73d2)no-repeat center center fixed;background-size: 100% 100%;}
.main-class {display: flex;justify-content: center;align-items: center;}
.android-frame {display: flex;flex-direction: column;width: 20.3rem;height: 38rem;border: 0.425rem solid #000;border-radius: 1.875rem;background: #151715;}
.output-operation-class {width: 100%;}
.output-screen {width: 100%;height: 9rem;text-align: right;border: #000;border-radius: 1.4rem 1.4rem 1.2rem 1.2rem;font-size: 3rem;background: #37303c;padding: 0.8rem 0.5rem;color: #eddbf3;}
.output-screen:focus {outline: none;}
.output-screen::placeholder{color: #eddbf3;}
.mini-algo-function {display: flex;justify-content: space-evenly;font-size: auto;width: 19.5rem;height: 4rem;color: #dfcee5;background: #151715;margin: 1rem 0 0.5rem;}
.mini-function {border: #000;width: 4rem;color: #dfcee5;background-color: #4f4256;border-radius: 31.25rem;transition: var(--transition-time);font-size: 1.2rem;font-weight: 600;height: 2rem;}
.mini-function:active {border-radius: 10%;transition: 0.08s cubic-bezier(0, 0.01, 1, 1);}
.input-class {display: grid;width: 19rem;height: 42rem;border-radius: 0 0 1.49rem 1.49rem;grid-template-columns: repeat(4, 1fr);grid-template-rows: repeat(5, 1fr);align-items: center;align-self: center;justify-items: center;color: #eddbf3;padding-bottom: 0.5em;}
.number-btn,.C-btn,.AC-btn,.function-btn,.equal-btn {width: 4.3rem;height: 4.1rem;border-radius: 60%;color: #eddbf3;background: #262229;border: #000;text-align: center;font-size: 1.7rem;}
.number-btn:active,.C-btn:active {transition: var(--transition-time);border-radius: 20%;background-color: #262229;}
.AC-btn {color: #fcd7da;background: #6e353b;}
.AC-btn:active {border-radius: 20%;transition: var(--transition-time);}
.function-btn {color: #efddf5;background: #4f4256;}
.function-btn:active {border-radius: 20%;transition: var(--transition-time);}
.equal-btn {color: #f4d9ff;background: #5b3774;}
.equal-btn:active {border-radius: 20%;transition: var(--transition-time);}


@media screen and (max-width: 380px) {
    :root {font-size: 16px;}
}
