* {margin: 0;padding: 0;box-sizing: border-box;}
body {width: 100%;height: auto;font-family: "Raleway", sans-serif;color: rgba(0, 0, 0, 0.5);text-align: center;text-transform: uppercase;letter-spacing: 0.5em;background: linear-gradient(to right, #00ffff, #ff00ff) no-repeat center center fixed;background-size: 100% 100%;}

.header {width: 100%;display: flex;align-items: center;padding: 0 1em;border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
.header>h1{text-align:center;letter-spacing:5px;padding:10px;font-size:3em;margin-left:34.25%}
.bar-img{width:2em;padding:.5em;background-color:rgba(0,0,0,0.5);border-radius:50%}
.bar-img:hover{transform:scale(1.25);transition:.3s}
.container{display:flex;flex-direction:column;justify-content:center;align-items:center;gap:50px;padding:100px 0}
.container h1{font-size:3.5em;font-weight:600;letter-spacing:.5em}
.container h3{font-size:1em;font-weight:900;text-transform:none;letter-spacing:.01em}
.color-pick{display:inline-flex;gap:50px}
#swatch{background:#fff;box-shadow:1em 1em 1em rgba(0,0,0,0.1);display:flex;flex-direction:column}
#swatch .info{font:1.25em Helvetica-Neue,Helvetica,sans-serif;padding:1em;letter-spacing:0;text-transform:none}
input[type="color"]{appearance:none;-moz-appearance:none;-webkit-appearance:none;background:none;border:0;cursor:pointer;width:10em;height:10em;padding:0}
:focus{border-radius:0;outline:none}
::-webkit-color-swatch-wrapper{padding:0}
::-webkit-color-swatch{border:0;border-radius:0}
::-moz-color-swatch,::-moz-focus-inner{border:0}
::-moz-focus-inner{padding:0}
footer{font-size:20px;color:#000;position:absolute;bottom:5%;left:50%;transform:translate(-50%,0)}
footer a{color:rgba(0,0,0,0.5);text-decoration:none}

@media screen and (max-width: 576px) {
  .header {justify-content: space-between;}
  .header>h1 {font-size: 2.5em;margin-left: 0;}
}

@media screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 450px) {
  .container h1{font-size:2rem;letter-spacing:.5em}
  #swatch .info{font-size:1em}
  input[type="color"]{width:7.5em;height:7.5em}
  footer{width:100%;display:inline-flex;justify-content:center;align-items:center;gap:10px}
}