.certificate-card-list{width: calc(100% + 20px);margin-left: -10px; margin-bottom: -20px;}
.certificate-card-item{width: 33.33%;padding: 0 10px;margin-bottom: 20px;flex-grow: 1;}
.certificate-card-box{position: relative;padding: 40px 20px;min-height: 150px;background: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));border-radius: 10px;height: 100%;overflow: hidden;}
.certificate-card-box:hover{background: var(--mrr-dark-color);color: var(--mrr-white);}
.certificate-card-text{font-size: 16px;font-weight: 300;}
.certificate-card-text h4{font-size: 24px;font-weight: 600;margin-bottom: 10px;}
.certificate-card-icon{position: absolute;bottom: 0;right: 0;filter: none;transition: all .2s ease-in;}
.certificate-card-box:hover .certificate-card-icon{transform: translateY(20px);filter: invert(1);}

.dark .certificate-card-icon{filter: invert(1);}

@media (max-width: 991.98px) {
    .certificate-card-item{width: 50%;}
}

@media (max-width: 575.98px) {
    .certificate-card-item{width: 100%;}
}