@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,900");  
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");

:root{--white:#fff;--black:#000;--violet: #4C4C6D;--green: #1B9C85;--yellow: #F2E8B9;
--cyan: #00fff7;--card-bg: #14253d;--line: #2f415b;--light-gray: #d6e2f0;--grayish-blue: #7b879d;--dark-blue: #1f3251;--blue: #343e51;
--custom-ease:all 0.4s cubic-bezier(0.215,0.61,0.355,1);
}

/* =================reset css starts here=================  */
*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,ul,li,body,html,form,fieldset{margin:0;padding:0;outline:none;border:0}
a{text-decoration:none;border:0;outline:0;}
ul{list-style:none;}
a:focus,input:focus,textarea:focus,*:focus{outline:0!important;}
/* =================reset css ends here================= */

/* =================core css starts here================= */
body{font-family:"Roboto",sans-serif;font-size:16px;line-height:24px;font-weight:400;}
body{font-family: "Josefin Sans", sans-serif;font-size:16px;line-height:1.2;font-weight:300;;color: inherit;background: var(--white);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale; }
.container{width:100%;max-width:1320px;}
a,input,button{display:inline-block;text-decoration:none;color:inherit;outline:none;transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;}
a img{border:0px none;}
a:hover{outline:none;color:var(--green);text-decoration:none;}
a:active{outline:none;text-decoration:none;}
a:focus{outline:none;outline-offset:0px;text-decoration:none;color:inherit;}
::-webkit-input-placeholder{color:var(--violet);opacity:0.5;}
::-moz-placeholder{color:var(--violet);opacity:0.5;}
:-moz-placeholder{color:var(--violet);opacity:0.5;}
:-ms-input-placeholder{color:var(--violet);opacity:0.5;}
.os-animation{opacity:0;}
.os-animation.animated{opacity:1;}
img{max-width:100%;border:0;height:auto;}
h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;margin-bottom:20px;font-family: 'Josefin Sans', sans-serif;line-height:1.3;font-weight:600;color:inherit;}
h1{font-size:58px;}
h2{font-size:48px;}
h3{font-size:40px;}
h4{font-size:30px;}
h5{font-size:26px;}
h6{font-size:22px;}
p{margin:0px;padding:0px;margin-bottom:20px;}
strong{font-weight:700;}
b{font-weight:400;}
p:last-child{margin-bottom:0;}

.btn {min-width: 160px;width: fit-content;border-radius: 80px;padding: 16px 20px;font-family: "Readex Pro", sans-serif;font-size: 16px;font-weight: 700;line-height: 1;box-shadow: none;position: relative;}
.btn-default,.btn-default:focus { color: var(--violet);background-color: var(--white);border: solid 1px var(--white); }
.btn-default:hover,.btn-default:active { color: var(--white)!important;background-color: var(--green)!important;border-color: var(--green)!important;}
.btn-violet,.btn-violet:focus { color: var(--white);background-color: var(--violet);border: solid 1px var(--violet); }
.btn-green,.btn-green:focus { color: var(--white);background-color: var(--green);border: solid 1px var(--green); }

.btn-gold,.btn-gold:focus { color: var(--green);background-color: var(--yellow);border: solid 1px var(--yellow); }
.btn-green:hover,.btn-green:active { color: var(--white)!important;background-color: var(--line)!important;border-color: var(--line)!important;}
.btn-violet:hover,.btn-violet:active { color: var(--white)!important;background-color: var(--line)!important;border-color: var(--line)!important;}
.btn-icon{color: inherit;}

.btn.btn-block{min-width: 100%;}
.btn+.btn {margin-left: 25px;}
.bottom-btn-box{margin-top: 40px;}


.bg-violet{background:var(--violet);color: var(--white);}
.bg-green{background: var(--green);color: var(--white);}
.bg-yellow{background: var(--yellow);color: var(--violet);}
.bg-green{background:var(--green);color: var(--yellow);}
.bg-gold{background:var(--yellow);color: var(--green);}
.grey-bg{background: #f5f5f5;}
.glass-bg{background:rgba(237,237,237,0.3);box-shadow:0 4px 30px rgba(0,0,0,0.1);backdrop-filter:blur(5px);border:1px solid rgba(237,237,237,0.3);border-radius:16px;padding: 40px;}
/* =================core css ends here================= */

@keyframes anima {
  0%,100%{transform:translateX(0)}
  50%{transform:translateX(100%)}
}

@keyframes puterin {
  100%{transform:rotate(360deg)}
}

.content-container{padding: 120px 0;}

@media (max-width: 1199.98px) {
.content-container{padding: 80px 0;}
}

@media (max-width:991.98px){
.content-container{padding: 60px 0;}
}

@media (max-width: 767.98px) {
.content-container {padding: 40px 0;}
}



.video-logo-box{position: sticky;top: 30px;height: 100vh;}
.video-logo{width:300px;height:300px;margin:0 auto;background-image:linear-gradient(to right,var(--green) 50%,#e0e0e0 50%);border-radius:50%;overflow:hidden;z-index:9;position:relative}
.video-logo::after{content:"";position:absolute;width:100%;height:100%;left:0;border:5px solid #ffff;background-color:transparent;border-radius:50%;border-right-color:var(--green);animation:puterin 2s linear infinite}
.video-title{text-align:center;font-size:40px;color:#ffff;font-weight:700;}
.video-btn{margin-top: 40px;}

.home-video-card-container .video-card-list{width: calc(100% + 20px);margin-left: -10px;margin-bottom: -20px;}
.home-video-card-container .video-card-item{width: 33.33%;padding: 0 10px;margin-bottom: 20px;}

/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
.container{width: calc(100% - 16px);}

.skill-card-item{width: 16.66%;}
}
/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){
.skill-card-item{width: 20%;}

.card-item{width: 33.33%;}

.home-video-card-container .video-card-item{width: 50%;}
}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px){
.itb-img-box{width: 100%;}
.itb-text{width: 100%;margin-top: 60px;padding-left: 0;}

.skill-card-item{width: 25%;}

.card-item{width: 50%;}

.home-video-card-container .video-card-item{width: 100%;}
}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){
.skill-card-item{width: 33.33%;}

.itb-content-box{padding: 20px;}
.itb-skill-box{padding: 20px;}

.card-item{width: 100%;}

.logo{font-size:20px}
.logo::before{margin-top:25px}
.logo.zoom{font-size:22px}

.a-img {width: 250px;height: 250px;}
}

@media (max-width:424.98px){
.skill-card-item{width: 50%;}
}



/* =================  work-start  ================= */
.work-list{width: calc(100% + 40px);margin-left: -20px;margin-bottom: -40px;}
.work-item{ width: 50%;padding: 20px;margin-bottom: 40px;}
.work-item:nth-child(3n + 1){ width: 100%;}
.wb-img {width: 55%; align-self: end;}
.wb-text {width: 40%;}
.work-box {padding: 50px 50px 0;border-radius: 10px;flex-flow: column-reverse;}
.wb-img img {width: 100%;height: 100%;object-fit: contain;}
.wi-content .work-box .wb-text {padding: 50px;}
.wi-content .work-box {padding: 0;}
.wb-text h3 {font-size: 16px;margin-bottom: 15px;text-transform: uppercase;}
.wb-text h5 {font-size: 28px;margin-bottom: 15px;}
.wb-text { font-size: 14px; line-height: 1.6;}
.work-item:nth-child(even) .work-box{background-color:#d1e6b9;border:2px solid #629824;}
.work-item:nth-child(odd) .work-box{background-color: #e2c822;}

.work-item:nth-child(3n + 1) .work-box{flex-flow: row;}
/* =================  work-start  ================= */

/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width: 991.98px){
.work-item {margin-bottom: 20px;} 
.work-item:nth-child(2n) {width: calc(100% + 20px);margin-left: -10px;}
.wi-content {padding: 0 10px;}   
.wi-content .work-box .wb-text {padding: 30px;}
.work-item:first-child .work-box {padding: 30px;}
.work-box {padding: 30px 30px 0;}
}
/* =================================================  
 ! Small devices (landscape phones, less than 768px)
 ================================================= */
@media (max-width: 767.98px){
.wb-text h3 {font-size: 14px;margin-bottom: 5px;}
.wb-text h5 {font-size: 20px;margin-bottom: 10px;} 
.wb-text p {margin-bottom:0;} 
.work-box .wb-text {padding: 20px;}
.wb-text {width: 100%; margin-bottom:20px;}
.wb-img {width: 100%;}

.work-item:nth-child(3n + 1) .work-box{flex-flow: column-reverse;}
}



.modal-content{background: rgb(242, 232, 185, 0.8);}
.modal-head-content{font-size:20px;padding-top:20px;padding-bottom:20px;font-weight:700;color: var(--light-gray);text-align: center;}
.modal-body{display:flex;flex-wrap:wrap;justify-content:center;align-items:center;padding:10% 5% 5%}
.modal-body label{width:30%;font-weight:900;color:#45796f;font-size: 24px;font-family: 'Outfit';}
.modal-body input{width:70%;padding:12px 20px;margin:8px 0;display:inline-block;border:1px solid #ccc;border-radius:4px;box-sizing:border-box}
.modal{position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);z-index:99;width:60%;height: auto; border-radius:22.5px;border:2px solid #629824;box-shadow:0 0 20px 2px #d1e6b9}
.modal-btn-box{margin-top: 30px;}
.confirm-btn{background:#36bc65;color: var(--white);}
.close-btn{background:red;color: var(--white);}

.backdrop{position:fixed;display:none;top:0;left:0;z-index:100;width:100vw;height:100vh;background:rgba(0,0,0,0.5)}

@media screen and (max-width: 767.99px) {
  .modal {text-align: center;width: 95%;position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 99;}
}





