:root{--white:#fff;--black:#000;--violet: #4C4C6D;--green: #1B9C85;--yellow: #F2E8B9;
  --gold:#F2E8B9;
  --dark-green:#45796F;
  --cyan: #00fff7;
  --card-bg: #14253d;
  --line: #2f415b;
  --light-gray: #d6e2f0;
  --grayish-blue: #7b879d;
  --dark-blue: #1f3251;}

/* =================reset css starts here=================  */
*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,ul,li,body,html,form,fieldset{margin:0;padding:0;outline:none;border:0}
a{text-decoration:none;border:0;outline:0;}
ul{list-style:none;}
a:focus,input:focus,textarea:focus,*:focus{outline:0!important;}

/* =================reset css ends here================= */

/* =================core css starts here================= */
body{font-family: "Josefin Sans", sans-serif;font-size:16px;line-height:1.2;font-weight:300;;color: inherit;background: var(--white);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale; }
.container{width:100%;max-width:1320px;}
.content-container{padding: 120px 0;}
a,input,button{display:inline-block;text-decoration:none;color:inherit;outline:none;transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;}
a img{border:0px none;}
a:hover{outline:none;color:var(--green);text-decoration:none;}
a:active{outline:none;text-decoration:none;}
a:focus{outline:none;outline-offset:0px;text-decoration:none;color:inherit;}
::-webkit-input-placeholder{color:var(--violet);opacity:0.5;}
::-moz-placeholder{color:var(--violet);opacity:0.5;}
:-moz-placeholder{color:var(--violet);opacity:0.5;}
:-ms-input-placeholder{color:var(--violet);opacity:0.5;}
.os-animation{opacity:0;}
.os-animation.animated{opacity:1;}
img{max-width:100%;border:0;height:auto;}
h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;margin-bottom:20px;font-family: 'Josefin Sans', sans-serif;line-height:1.3;font-weight:600;color:inherit;}
h1{font-size:58px;}
h2{font-size:48px;}
h3{font-size:40px;}
h4{font-size:30px;}
h5{font-size:26px;}
h6{font-size:22px;}
p{margin:0px;padding:0px;margin-bottom:20px;}
strong{font-weight:700;}
b{font-weight:400;}
p:last-child{margin-bottom:0;}



.btn i{transition: all .2s ease-in;}
.btn:hover i{transform: scale(1.25);}

.btn.btn-block{min-width: 100%;}
.bottom-btn-box{margin-top: 40px;}

.bg-violet{background:var(--violet);color: var(--white);}
.bg-green{background: var(--green);color: var(--white);}
.bg-yellow{background: var(--yellow);color: var(--violet);}
.bg-green{background:var(--green);color: var(--gold);}
.bg-gold{background:var(--gold);color: var(--green);}
.glass-bg{background:rgba(237,237,237,0.3);box-shadow:0 4px 30px rgba(0,0,0,0.1);backdrop-filter:blur(5px);border:1px solid rgba(237,237,237,0.3);border-radius:16px;padding: 40px;}
/* =================core css ends here================= */



@keyframes anima {
  0%,100%{transform:translateX(0)}
  50%{transform:translateX(100%)}
}

@keyframes puterin {
  100%{transform:rotate(360deg)}
}




.about-hero-container{padding: 70px 0 400px;}
.about-hero-container .container{position:relative;z-index:9;}
.about-hero-container::before{content:'';position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;z-index:2;background: linear-gradient(180deg, rgba(26, 27, 37, 0.00) 56.73%, rgba(26, 27, 37, 0.80) 100%), linear-gradient(90deg, rgba(26, 27, 37, 0.80) 18.91%, rgba(26, 27, 37, 0.00) 106.3%), linear-gradient(0deg, rgba(26, 27, 37, 0.80) 0%, rgba(26, 27, 37, 0.80) 100%);}
.about-hero-bg{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;background-image: url('/hero-img.jpg');background-size:cover;background-repeat:no-repeat;background-position:center;z-index:1;}
.about-hero-text{margin-top: 80px}
.about-hero-text h1{font-size:80px;font-weight:600;line-height:1;color:var(--white);margin-bottom:40px;}
.about-hero-text h3{color: var(--white);font-size:40px;}
.about-hero-text h4{color:var(--yellow);letter-spacing:2px;font-size:32px;margin-bottom:40px}
.about-hero-text span{color: var(--green);}
.about-hero-btn{margin-top: 40px;}
.about-hero-img{width:30%;height: 100%;}
.about-hero-img img{width: 100%;height: 100%;object-fit: cover;}

.banner-container{height: 100Vh;}
.banner-container .container{position:relative;z-index:9;}
.banner-container::before{content:'';position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;z-index:2;background: rgba(0,0,0,0.8)}
.banner-bg{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;background-image: url('/banner-bg.jpg'); background-size:cover;background-repeat:no-repeat;background-position:center;z-index:1;}
.banner-text h1{font-size:80px;letter-spacing:3px;font-weight:700;color: var(--white);margin-bottom:0;}
.banner-text span{color: var(--green)}
.banner-btn{margin-top: 40px;gap: 25px;}

.heading{width: 100%;font-size: 18px;font-weight: 300;line-height: 1.6;margin-bottom: 60px;}
.heading h3{font-size: 60px;font-weight: 600;line-height: 1.3;margin-bottom: 0;position: relative;padding-bottom: 15px;}
.heading h3+p{margin-top: 30px;}
.heading h3::before{content:"";position:absolute;left: 0;bottom: 0; width:100%;height:5px;background-image:linear-gradient(to left,var(--yellow) 50%,#e0e0e0 50%);border-radius:10px}

.itb-content-box{border-radius: 20px;padding: 40px;position: relative;z-index: 9;margin-top: -400px;}
.itb-img-box{width: 40%;position: relative;}
.itb-img{width: 90%;position: relative;padding-bottom: 90%;border-radius: 50%;overflow: hidden;z-index: 5;}
.itb-img img{width: 100%;height: 100%;object-fit: cover;position: absolute;top: 0;left: 0;}
.itb-text{font-size: 18px;font-weight: 300;line-height: 1.3;width: 60%;padding-left:5%;}
.itb-text h5{font-size: 24px;font-weight: 500;line-height: 1.6;letter-spacing:2px;margin-bottom: 20px;}
.itb-text .btn{margin-top: 20px;}
.itb-img::after {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;border-radius: 50%;border: 5px solid #ffff;background-color: transparent;border-right-color: var(--green);animation: puterin 2s linear infinite;}
.itb-img-box::before{content:'';position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);width:110%;height:110%;z-index:1;background: url(/animate-bg.svg) center / contain no-repeat ;}

.itb-skill-box{margin-top: 30px;padding: 40px;border-radius: 20px;}
.skill-card-list{width: 100%;margin-bottom: -5px;}
.skill-card-item{width: 12.5%;padding: 0 2.5px;margin-bottom: 5px;}
.skill-card-box{padding: 10px;background: var(--yellow);border-radius: 10px;text-align: center;font-size: 16px;color: var(--violet);font-weight: 600;border: 2px solid var(--violet);}
.skill-card-icon{margin-bottom: 10px;font-size: 30px}
.skill-card-icon img{width: 100%;height: 100%;object-fit: cover;}

.certificate{background-color:var(--violet);padding:40px;border-radius:25px;display:flex;flex-direction:column;justify-content:center}
.certificate .section-title{font-size:4vw;padding-top:0}
.certi-box{padding:auto;display:flex;flex-wrap:wrap;justify-content:center;align-items:center;gap:40px}
.certi-btn{background-color:var(--green);color:#fff;text-decoration:none;border:2px solid transparent;font-weight:700;padding:13px 30px;border-radius:30px;transition:.4s}
.certi-btn:hover{background-color:transparent;border:2px solid var(--green);cursor:pointer}

.card-list{width: calc(100% + 20px);margin-left: -10px; margin-bottom: -20px;}
.card-item{width: 25%;padding: 0 10px;margin-bottom: 20px;}
.card-box{padding: 20px;min-height: 150px;background: rgba(255, 255, 255, 0.06);border-radius: 10px;height: 100%;}
.card-box:hover{background: var(--green);color: var(--white);}
.card-text{font-size: 16px;font-weight: 300;}
.card-text h4{font-size: 24px;font-weight: 600;margin-bottom: 10px;}

.projects-card-container{overflow: hidden;}
.projects-card-list-outer{width: 100%;}
.projects-card-list{overflow: visible;}
.projects-card-list .swiper-slide{width: 600px;}
.projects-card-box{padding: 10px;border-radius: 20px;border: 3px solid var(--violet);}
.projects-card-img{position: relative;border-radius: 10px;overflow: hidden;border: 3px solid var(--violet);width: 100%;padding-bottom: 56%;}
.projects-card-img::after{content: '';position: absolute;top: 0;left: 0;bottom: 0;right: 0;background: linear-gradient(9deg, #1A1B25 -6.2%, rgba(26, 27, 37, 0.00) 87.9%);}
.projects-card-img img{width: 100%;height: 100%;object-fit: contain;position: absolute;top: 0;left: 0;}
.projects-card-text-box{margin-top: 30px;padding: 10px;}
.projects-card-text{font-size: 16px;font-weight: 300;line-height: 1.6;padding-bottom: 10px;border-bottom: 1px solid var(--violet);}
.projects-card-text h4{font-size: 36px;font-weight: 600;line-height: 1.6;margin-bottom: 0;}

.btn-icon{color: var(--white);background-color: var(--green);border: solid 1px var(--green); border-radius: 50%;width: 45px;height: 45px;font-size: 22px;}
.btn-icon:hover{color: var(--yellow);}
.btn-icon+.btn-icon{margin-left: 15px;}
.tools{margin-top: 10px;}
.badge-item{color: var(--green);font-size: 25px;margin-right: 10px;}
.tools h5{margin-bottom: 0;}
.badge-item:last-child{margin-right: 0;}

.projects-list-arrow-container .swiper-arrow-prev{transform:rotate(180deg);right:0;}
.projects-list-arrow-container .swiper-arrow-next{left:0;margin-left: 20px;}
.projects-list-arrow-container .swiper-button-disabled{opacity:0.5!important;background:transparent!important;border-color:transparent!important;cursor:no-drop!important;}
.projects-list-arrow-container .swiper-button-disabled img{filter: brightness(0) invert(1);}
.arrow-button-box{width:50px;height:50px;padding: 10px;border:1px solid var(--violet);background: var(--yellow);}
.arrow-button-box img{width: 100%;height: 100%;object-fit: contain;transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;}
.arrow-button-box:hover{background:var(--violet);border-color:var(--white);}
.arrow-button-box:hover img{filter: brightness(0) invert(1);}



.video-logo-box{position: sticky;top: 30px;height: 100vh;}
.video-logo{width:300px;height:300px;margin:0 auto;background-image:linear-gradient(to right,var(--green) 50%,#e0e0e0 50%);border-radius:50%;overflow:hidden;z-index:9;position:relative}
.video-logo::after{content:"";position:absolute;width:100%;height:100%;left:0;border:5px solid #ffff;background-color:transparent;border-radius:50%;border-right-color:var(--green);animation:puterin 2s linear infinite}
.video-title{text-align:center;font-size:40px;color:#ffff;font-weight:700;}
.video-btn{margin-top: 40px;}

.home-video-card-container .video-card-list{width: calc(100% + 20px);margin-left: -10px;margin-bottom: -20px;}
.home-video-card-container .video-card-item{width: 33.33%;padding: 0 10px;margin-bottom: 20px;}

.video-card-list{margin-bottom: -20px;}
.video-card-item{width: 100%;margin-bottom: 20px;}
.video-card-box{padding: 10px;border-radius: 20px;border: 3px solid var(--violet);}
.video-card-iframe{width:100%;height:auto;aspect-ratio:16/9;border-radius: 10px;overflow: hidden;border: 3px solid var(--violet);}
.video-card-iframe iframe{width:100%;height:100%;}
.video-card-text{padding:20px 10px 0}
.video-card-text h5{font-weight:600;margin-bottom:0}

.full-bg-container{height: 500px;}
.full-bg-container .container{position:relative;z-index:9;}
.full-bg-container::before{content:'';position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;z-index:2;background: rgba(0,0,0,0.8)}
.full-bg{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;background-image: url('/banner-bg.jpg');background-size:cover;background-repeat:no-repeat;background-position:center;z-index:1;}
.full-bg-logo{width: 70%;}


/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
.container{width: calc(100% - 16px);}


.about-hero-text h1{font-size:70px;}
.about-hero-text h3{font-size:35px;}
.about-hero-text h4{font-size:28px;}
.banner-text h1{font-size:70px;}

.skill-card-item{width: 16.66%;}
}
/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){
.content-container{padding: 80px 0;}

.about-hero-text{font-size: 16px;margin-top: 30px;}
.about-hero-img{width:80%;}
.about-hero-text{width: 80%;padding-right: 0;}

.skill-card-item{width: 20%;}



.card-item{width: 33.33%;}

.home-video-card-container .video-card-item{width: 50%;}
}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px){
.heading{font-size: 14px;margin-bottom: 40px;}
.heading h3{font-size: 48px;}
.heading h3+p{margin-top: 15px;}

.itb-img-box{width: 100%;}
.itb-text{width: 100%;margin-top: 60px;padding-left: 0;}

.skill-card-item{width: 25%;}

.card-item{width: 50%;}

.projects-card-list .swiper-slide{width: 100%;}
.projects-card-text{font-size: 16px;font-weight: 300;line-height: 1.6;padding-bottom: 10px;border-bottom: 1px solid var(--violet);}
.projects-card-text h4{font-size: 30px;}


.home-video-card-container .video-card-item{width: 100%;}


}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){
.about-hero-text h1{font-size:52px;}
.about-hero-text h3{font-size:28px;}
.about-hero-text h4{font-size:24px;}

.banner-text h1{font-size:46px;}

.skill-card-item{width: 33.33%;}

.itb-content-box{padding: 20px;}
.itb-skill-box{padding: 20px;}

.card-item{width: 100%;}



.logo{font-size:20px}
.logo::before{margin-top:25px}
.logo.zoom{font-size:22px}

.banner-logo{font-size: 32px;}
.a-img {width: 250px;height: 250px;}
}

@media (max-width:424.98px){
.about-hero-text h1{font-size:42px;}
.about-hero-text h3{font-size:20px;}
.about-hero-text h4{font-size:18px;} 
.banner-text h1{font-size:34px;}
.skill-card-item{width: 50%;}
}












:root{
  --custom-ease:all 0.4s cubic-bezier(0.215,0.61,0.355,1);
  --shadow:0 0 16px rgba(0,0,0,0.16);
}


.timeline { display: flex; margin: 0 auto; flex-wrap: wrap; flex-direction: column; max-width: 800px; position: relative; }
.timeline-content-title {font-size: 42px;color: var(--green);text-shadow: 2px 2px 0 #fff, 2px 4px 0 #9f4800, 4px 6px 10px rgb(0 0 0 / 25%);margin-bottom: 10px;}
.timeline-content-desc {font-size: 20px;font-weight: 400; line-height: 1.2;color: var(--blue);}
.timeline:before {position: absolute;left: 50%;width: 5px;height: 90%;margin-left: -1px;content: "";border-left: 5px dashed var(--green);opacity: 0.7;}
.timeline-item { padding: 40px 0; transition: 0.5s; box-sizing: border-box; width: calc(50% - 40px); display: flex; position: relative; transform: translateY(-80px); }
.timeline-item:nth-child(even) { align-self: flex-end; }
.timeline-item:nth-child(even):before { right: auto; text-align: right; left: calc(-100% - 56px); padding-left: 0; border-left: none; border-right: 3px solid rgba(255, 255, 255, 0.7); padding-right: 15px; }
.timeline-item--active { opacity: 1; transform: translateY(0); filter: blur(0px); }
.timeline-item--active:before { top: 50%; transition: 0.3s all 0.2s; opacity: 1; }
.timeline-item--active .timeline-content-title { margin: -50px 0 20px 0; }
.timeline-img { width: 150px; height: 150px; box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7); border-radius: 15px;margin-bottom: 20px;padding: 10px;border: 3px solid var(--blue);}
.timeline-img img{ width: 100%; height: 100%; object-fit: contain;}
.timeline-container { width: 100%; position: relative; padding: 80px 0; transition: 0.3s ease 0s; background-attachment: fixed; background-size: cover; background-position: center; }
#timeline-1:after { content: ''; height: 35vh; width: 100%; position: absolute; left: 0; bottom: -80px; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); border-bottom: solid 20vh #fff; }
.timeline-content{padding: 20px;border-radius: 20px;background: var(--yellow);border: 4px solid var(--blue);}


.gallery { columns: 4 300px; padding: 2px; transition: 0.3s; }
.gallery:hover .gallery-image { filter: grayscale(1); }
.gallery-link { margin: 2px; overflow: hidden; }
.gallery-link:hover { transform: rotate(0) scale(1.3); transition: all 0.5s ease; position: relative; z-index: 100; cursor: pointer; background: #fff; border-radius: 10px; padding: 10px; box-shadow: 2px 2px 15px rgb(0, 0, 0, .5); }
.gallery-link:hover .gallery-image { filter: grayscale(0); }
.gallery-link:hover .gallery-caption { opacity: 1; display: block; }
.gallery-thumb { position: relative; margin-bottom: 0; overflow: hidden; }
.gallery-image { display: block; width: 100%; transition: 0.3s; }
.gallery-image:hover {border-radius: 10px }
.gallery-caption { display: none; bottom: 32px; color: var(--green); font-size: 20px;  overflow: hidden; margin-top: 5px; opacity: 0; text-align: center; }
.gallery-image:hover { border-radius: 10px }


/* ================================================================ 
/* *********************** HOME PAGE START ************************ */
/* ================================================================ */ 


:root {--blue: #343e51; --white: #fff;}

.grey-bg{background: #f5f5f5;}
/* =================core css ends here================= */




/* =================  Project-Start  ================= */
.project-container {background: rgb(251 225 144 / 20%);}
.project-item {width: 25%;}
.project-box {padding:20px;}
.project-icon {width: 80px;height: 80px;}
.project-icon img {width: 100%;height: 100%;object-fit: contain;}
.project-text h2 {font-size: 38px;text-align: center;line-height: 1.2;margin-bottom: 10px;font-weight: 600;}
.project-text {font-size: 20px;line-height: 1.2;font-weight: 600; margin-top: 25px;}
/* =================  Project-End  ================= */ 

/* =================  Info-End  ================= */ 
.info-container {padding:120px 0 !important;}
.info-left {width: 50%; position: relative;}
.info-right {width: 50%; padding-left:50px; align-self: center;}
.info-img {width: 70%;height: 100%;overflow: hidden; border-radius: 10px;}
.info-img img {width: 100%;height: 100%;object-fit: cover; }
.info-img.info-img-2 {border: 20px solid #fff;position: absolute;top: -30%;width: 50%;height: 70%;right: 0;}
.info-text h4 {font-size: 48px;line-height: 1.2;margin-bottom: 15px;font-weight: 600;}
.info-text {font-size: 18px;line-height: 1.5;font-weight: 500;}
.info-title {font-size: 20px;font-weight: 600;line-height: 1.2;letter-spacing: 0.023em;width: 120px;}
.info-item {margin-bottom: 12px;}
.info-details {width: calc(100% - 120px);font-size: 18px;line-height: 1.5;font-weight: 400;}
/* =================  Info-End  ================= */ 

/* =================  work-start  ================= */
.content-left{width:40%; padding-right:40px;position: sticky; top: 100px;height: 100%;}
.content-right{ width:60%;}
.skill-list { height: 100%;padding: 30px;border-radius: 10px;background: rgb(209 209 209 / 20%);}
.skill-item { width: 100%;padding: 0 10px; margin-bottom: 20px;}
.skill-img { width: 25px;height: 25px; display: flex; align-items: center; justify-content: center;}
.skill-img img { width: 100%;height: 100%;object-fit: contain;}
.skill-box { border-radius: 8px; padding: 10px 50px 10px 10px; width: 100%; height: 100%; position: relative;}
.skill-box:after {width: 100%;height: 4px;background: #fff;position: absolute;bottom: 0;content: '';}
.skill-text {display: flex;justify-content: space-between;width: calc(100% - 25px);padding-left: 20px;align-items: center;}
.skill-text h4 {margin-bottom: 0;font-size: 14px;font-weight: 600;line-height: 1.2;text-transform: uppercase;}
.skill-per {font-size: 14px;font-weight: 600;line-height: 1.2;position: absolute;right: 10px;}
.skill-progress {position: absolute;height: 4px;left: 0;bottom: 0;border-radius: 10px; z-index: 1;}
/* =================  work-start  ================= */


/* =================  work-start  ================= */
.wi-content {width: 50%; padding:0 20px;}
.work-item:nth-child(2n){ width:calc(100% + 40px); margin-left:-20px;}
.wb-img {width: 55%; align-self: end;}
.wb-text {width: 40%;}
.work-item {margin-bottom: 40px;}
.work-item:first-child .work-box{padding:50px;}
.work-item:last-child {margin-bottom: 0;}
.work-box {padding: 50px 50px 0;border-radius: 10px;}
.wb-img img {width: 100%;height: 100%;object-fit: contain;}
.wi-content .work-box .wb-text {padding: 50px;}
.wi-content .work-box {padding: 0;}
.wb-text h3 {font-size: 16px;margin-bottom: 15px;text-transform: uppercase;}
.wb-text h5 {font-size: 28px;margin-bottom: 15px;}
.wb-text { font-size: 14px; line-height: 1.6;}
/* =================  work-start  ================= */




/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width: 1199.98px){
body{padding-top: 80px;} 

.lg-logo-area{width:112px;margin:0 auto 48px;}

.usp-box{padding:48px 35px 48px 80px;}
.submenu .link{font-family:'Roboto',sans-serif;font-size:14px;font-weight:400;line-height:44px;text-transform: capitalize;}
.logout-link{font-size:18px;padding:0;position:relative;font-weight:500;color:var(--primary-color);}
.info-container h1{font-size:54px;}
.content-container{padding: 50px 0;}



}
/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width: 991.98px){


    

.project-list{margin-bottom:-20px;} 
.project-item { width: 50%; margin-bottom:20px;}
.info-img.info-img-2 {top: auto;width: 70%;right: 15%;bottom: -25%; border:10px solid #fff;}


.info-img {width: 100%;}    
.info-text {font-size: 16px;}
.info-text h4 { font-size: 38px; margin-bottom: 6px;}
.info-title {font-size: 18px;}
.info-details {font-size: 16px;}

.work-item {margin-bottom: 20px;} 
.work-item:nth-child(2n) {width: calc(100% + 20px);margin-left: -10px;}
.wi-content {padding: 0 10px;}   
.wi-content .work-box .wb-text {padding: 30px;}
.work-item:first-child .work-box {padding: 30px;}
.work-box {padding: 30px 30px 0;}


.card-box {padding: 10px;}
.skill-list {padding:20px;}
.content-left  {padding-right: 20px;}      

}
/* =================================================  
 ! Small devices (landscape phones, less than 768px)
 ================================================= */
@media (max-width: 767.98px){
.navbar .collapse.show{height: calc(100vh - 60px);}
.navbar-inside{height: calc(100vh - 60px);}
.content-container{padding: 40px 0;}

.wb-text h3 {font-size: 14px;margin-bottom: 5px;}





.info-left {width:100%;}
.info-right {width:100%; padding-left:0; margin-top:50px;}
.info-text h4 { font-size: 28px; margin-bottom: 6px;}
.info-img.info-img-2 {top: -22%;width: 60%;height: 60%;right: 0;}


.content-left {width: 100%;padding-right: 0;}
.content-right {width: 100%;margin-top: 20px;} 
.wb-text h5 {font-size: 20px;margin-bottom: 10px;} 
.wb-text p {margin-bottom:0;} 
.wi-content .work-box .wb-text {padding: 20px;}
.work-item:nth-child(2n) {width: 100%;margin-left: 0;}
.wi-content {width:100%; padding:0;}
.wi-content+.wi-content {padding-top:20px;}
.wb-text {width: 100%; margin-bottom:20px;}
.wb-img {width: 100%;}

.heading h3 {font-size: 28px;margin-bottom: 10px;}
.heading-text {width:100%; font-size:14px;}
.heading-btn {margin-top: 20px;}

.contact-left {width: 100%;padding-right: 0;} 
.contact-right {width: 100%;padding-left: 0;margin-top: 50px;}

}
/* ======================================================
 ! Extra small devices (portrait phones, less than 576px)
 ====================================================== */
@media (max-width: 575.98px){

.project-item { width: 100%;}

.card-item { padding: 0;width: 100%;margin-bottom: 10px;}
}

