
.hero-icons {position: absolute;top: 20%;left: 50%;bottom: 0;transform: translateX(-50%);width: 100%;max-width: 1000px;height: 40%;}
.hero-icon {position: absolute;width: 60px;height: 60px;padding: 15px;border-radius: 50%; z-index: 9;animation: float 4s ease-in-out infinite;}
.hero-icon img{width: 100%;height: 100%;object-fit: cover;}
.hero-icon.hi-1 {top: 0%;background: #ff6c39;right: 90%;}
.hero-icon.hi-2 {bottom: 0%;background: #2965f1;right: 95%; animation-delay: .2s;}
.hero-icon.hi-3 {top: 0%;background: #ffd814;left: 90%; animation-delay: .4s;}
.hero-icon.hi-4 {bottom: 0%;background: #5ed3f3;left: 95%; animation-delay: .6s;}

.hero-container .text-scroll-wrapper{width: max-content;position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);z-index: 0;}
.hero-container .text-scroll-list{animation: 25s linear infinite scroll-horizontal;}
.hero-container .text-scroll-item{padding: 0 4rem;}
.hero-container .text-scroll-wrapper h3{background: var(--mrr-gradient);color: transparent;background-clip: text;font-size: 8vw;font-weight: 700;line-height: 1;letter-spacing: 0.02em;opacity: 0.25;}
.hero-container .text-scroll-box{position: relative;}
.hero-container .text-scroll-box::after{content: '.';position: absolute;left: calc(100% + 4rem);top: 0;bottom: 0;background: var(--mrr-gradient);color: transparent;background-clip: text;font-size: 8vw;font-weight: 700;line-height: 1.25;opacity: 0.25;}

.hero-content {min-height: 100vh;width: 100%;padding: 80px 0;position: relative;z-index: 9;}
.hero-inner {max-width: 650px;}
.hero-text {font-size: 18px;line-height: 1.5;}
.hero-text h1{font-size:90px;font-weight:600;line-height:1;color:var(--mrr-text-color);margin-bottom:10px;}
.hero-text h3{color: var(--mrr-text-color);font-size:30px;margin-bottom: 10px;}
.hero-text h4{color:var(--mrr-text-color);font-size:46px;margin-bottom: 20px;}


/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
    .hero-text h1{font-size:72px;}
}

/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){
    .hero-text{font-size:16px;}
    .hero-text h1 {font-size: 60px;}
    .hero-text h3 {font-size: 24px;}
}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px){
    .hero-icons {width: 80%;max-width: 1000px;height: 60%;}
    .hero-container .text-scroll-wrapper h3{font-size: 12vw;}
    .hero-container .text-scroll-box::after{font-size: 12vw;}

    .hero-content {min-height: calc(100vh - 80px);}
    .hero-text{font-size:14px;}
    .hero-text h1 {font-size: 50px;}
    .hero-text h4 {font-size: 30px; margin-bottom: 15px;}   
}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){
    .hero-text h1 {font-size: 50px;}
}
