.rescard-list{width: calc(100% + 20px);margin: 0 -10px;margin-bottom: -20px;font-family:"Outfit",sans-serif;}
.rescard-item{width: 33.33%;padding: 0 10px;margin-bottom: 20px;}
.rescard-box{height:100%;border:1px solid #aaa;box-shadow:1px 1px 5px rgba(0,0,0,0.5);cursor:pointer;transition:background-color 400ms ease-out;border-radius:20px; background-color:var(--light-gray);overflow: hidden;}
.rescard-box:hover{background-color:hsl(217,54%,11%);}
.rescard-img{width:100%;position: relative;padding-bottom: 100%;}
.rescard-img img{width:100%;height: 100%;object-fit: cover;position: absolute;top: 0;left: 0;}
.rescard-text{font-size:17px;font-weight:400;color:var(--grayish-blue);padding: 20px;text-align:center;}
.rescard-text h4{font-weight:700;color:var(--dark-blue);text-align:center;margin-bottom:1rem}
.rescard-box:hover h4{color: var(--white)}

@media (max-width:991.98px){
  .rescard-item{width: 50%;}
}
  
@media (max-width:767.98px){
  .rescard-item{width: 100%;}
}
 