.block-card-list{width:calc(100% + 40px);margin: 0 -20px;font-family:"Readex Pro",sans-serif;margin-bottom: -20px;}
.block-card-item{width: 33.33%;padding: 0 20px;margin-bottom: 20px;}
.block-card-box{padding:40px;border-radius: 30px;color: var(--green);font-size:18px;min-height: 240px;}
.block-card-item:nth-child(even) .block-card-box{background-color:#d1e6b9;border:2px solid #629824;}
.block-card-item:nth-child(odd) .block-card-box{background-color:#fff9d7;border:2px solid #e2c822;}
.block-card-box h5{font-size:26px;margin-bottom: 20px;}
.block-img{width:1.5rem;mix-blend-mode:exclusion}
.block-img:hover{transform:scale(1.25);transition:.3s}

@media (max-width:991.98px){
  .block-card-list{margin-bottom: -40px;}
  .block-card-item{width: 50%;margin-bottom: 40px;}   
}

@media (max-width:767.98px){
  .block-card-item{width: 100%;}   
}