
.interest-card-list{font-family:var(--font-outfit);background: var(--mrr-gradient-transparent);border-radius:10px;}
.interest-card-item{width: 50%;}
.interest-card-item:not(:last-child) .interest-card-box{border-right:1px solid rgba(255,255,255,0.1);}
.interest-card-box{padding:30px;width:100%;height:100%}
.interest-card-image{position:relative;width: 100%;aspect-ratio: 16/9;padding: 20px;border-radius: 10px;overflow: hidden;background: #000;}
.interest-card-image img{width: 100%;height: 100%;object-fit: contain;transition: all .2s ease-in;}

.interest-card-box:hover .interest-card-image img{transform: scale(1.05);}
.interest-card-cta-list{margin-top: 16px;padding-top:16px;border-top:1px solid rgba(255,255,255,0.1);}
.interest-card-text{margin: 20px 0 10px;font-size:16px;font-weight:300;color:var(--mrr-white);}
.interest-card-text h4{font-size:24px;font-weight:600;margin-bottom: 8px;}
.interest-card-text p{opacity: 0.75;}
.interest-card-box:hover h4{color:var(--mrr-white);cursor:pointer}
.interest-card-cta-item{font-size:16px;color: var(--mrr-white);}
.interest-card-cta-item svg{color:var(--mrr-accent-color)}
.interest-card-cta-item img{margin-right:10px;}

@media (max-width:767.98px){
 .interest-card-item{width: 100%;}
 .interest-card-item:not(:last-child) .interest-card-box{border: 0;border-bottom:1px solid rgba(255,255,255,0.1);}
}