.container {
    font-family: 'Readex Pro', sans-serif;
    background-color: #18157c;
    padding: 50px ;
}

.about {
    padding: 10vh 20vw;
}

.about h3 {
    color: #EADE71;
    font-size: 30px;
    text-align: justify;
    margin-bottom: 30px;
}

.about p {
    color: white;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 60px;
}

.bar {  
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    font-family: 'Readex Pro', sans-serif;
    color: white;
    width: 100%;
}

.bar ul {
    list-style-type: none;
    margin: 40px;
}

.bar li {
    margin-bottom: 25px;
}

.bar-head {
    font-size: 25px;
}

.bar-text {
    font-size: 16px;
}

.bar-img {
    width: 30px;
}

.bar-img:hover {
    width: 25px;
}

#education {
    padding-top: 60px;
    width: 50%;
    height: 300px;
    background-color: hsl(200, 71%, 28%, 0.5);
}

#food {
    padding-top: 60px;
    width: 50%;
    height: 300px;
    background-color: hsl(0, 0%, 0%, 0.5);
}

#health {
    padding-top: 60px;
    width: 50vw;
    height: 300px;
    background-color: rgba(31, 150, 20, 0.5);
}

#tree {
    padding-top: 60px;
    width: 50vw;
    height: 300px;
    background-color: rgba(141, 23, 156, 0.5);
}