.skill-card-box{padding: 10px;background: rgba(255, 255, 255, 0.06);border-radius: 10px;text-align: center;font-size: 16px;color: var(--lime);font-weight: 600;border: 2px solid var(--violet);}
.skill-card-icon{margin-bottom: 10px;font-size: 30px}
.skill-card-icon img{width: 100%;height: 100%;object-fit: cover;}