@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,900");  

:root{--white:#fff;
  --black:#000;
  --gold:#F2E8B9;
  --green:#45796F;
  --cyan: hsl(178, 100%, 50%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}


/* =================core css starts here================= */
body{font-family:"Roboto",sans-serif;font-size:16px;line-height:24px;font-weight:400;;color:var(--black);background: var(--white);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale; }
.container{width:100%;max-width:1300px;}
.content-container{padding: 100px 0;}
a,input,button{display:inline-block;text-decoration:none;color:inherit;outline:none;transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;}
a img{border:0px none;}
a:hover{outline:none;color:var(--gold);text-decoration:none;}
a:active{outline:none;text-decoration:none;}
a:focus{outline:none;outline-offset:0px;text-decoration:none;color:inherit;}
::-webkit-input-placeholder{color:var(--black);opacity:0.5;}
::-moz-placeholder{color:var(--black);opacity:0.5;}
:-moz-placeholder{color:var(--black);opacity:0.5;}
:-ms-input-placeholder{color:var(--black);opacity:0.5;}
.os-animation{opacity:0;}
.os-animation.animated{opacity:1;}
img{max-width:100%;border:0;height:auto;}
h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;margin-bottom:24px;line-height:normal;font-weight:700;color:inherit;}
h1{font-size:58px;}
h2{font-size:48px;}
h3{font-size:40px;}
h4{font-size:30px;}
h5{font-size:26px;}
h6{font-size:22px;}
p{margin:0px;padding:0px;margin-bottom:24px;}
strong{font-weight:700;}
b{font-weight:400;}
p:last-child{margin-bottom:0;}

.btn {min-width: 160px;width: fit-content;border-radius: 30px;padding: 15px;font-family:"Readex Pro",sans-serif;font-size: 16px;font-weight: 500;line-height: 1;box-shadow: none;position: relative;}
.btn-default,.btn-default:focus { color: var(--green);background-color: var(--gold);border: solid 1px var(--gold); }
.btn-default:hover,.btn-default:active { color: var(--gold)!important;background-color: var(--line)!important;border-color: var(--line)!important;}
.btn-green{ color: var(--gold);background-color: var(--green);border: solid 1px var(--green); }
.btn.btn-block{min-width: 100%;}
.btn+.btn {margin-left: 25px;}

.bg-green{background:var(--green);color: var(--gold);}
.bg-gold{background:var(--gold);color: var(--green);}
.glass-bg{background:rgba(237,237,237,0.3);box-shadow:0 4px 30px rgba(0,0,0,0.1);backdrop-filter:blur(5px);border:1px solid rgba(237,237,237,0.3);border-radius:16px;padding: 40px;}
/* =================core css ends here================= */



.banner-container{height:500px;}
.banner-container .container{position:relative;z-index:3;}
.banner-container::before{content:'';position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;z-index:2;background: linear-gradient(180deg, rgba(0, 48, 60, 0.80) -10.44%, rgba(0, 0, 0, 0.00) 22.61%), linear-gradient(0deg, rgba(0, 48, 60, 0.80) 0%, rgba(0, 0, 0, 0.00) 56.33%), linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%)}
.banner-bg{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;background-image: url('/hero-img.webp');background-size:cover;background-repeat:no-repeat;background-position:center;z-index:1;}
.banner-text{text-align: center;}
.banner-text h1{font-family: "Readex Pro",sans-serif;font-size:64px;font-weight:600;line-height:1.2;color: #F2E8B9;margin-bottom:0;}
.banner-logo{width:30%;border-radius:99px;margin-bottom:25px;overflow: hidden;}

@media (max-width:991.98px){

.banner-text{font-size: 16px;}
.banner-text h1{font-size:54px;}
}



.heading{width: 100%;margin-bottom: 60px;}
.heading h3{font-family:"Outfit",sans-serif;font-size: 64px;font-weight: 700;line-height: 1.3;margin-bottom: 0;}

.uiBoxGray{background-color:#ccc;border:2px solid #666;box-shadow:0 0 20px 2px #ccc}
.uiBoxPink{background-color:#eeb1d7;border:2px solid #db2586;box-shadow:0 0 20px 2px #eeb1d7}
.uiBoxGreen{background-color:#d1e6b9;border:2px solid #629824;box-shadow:0 0 20px 2px #d1e6b9}
.uiBoxYellow{background-color:#fff9d7;border:2px solid #e2c822;box-shadow:0 0 20px 2px #fff9d7}

.block-card-list{width:calc(100% + 40px);margin: 0 -20px;font-family:"Readex Pro",sans-serif;}
.block-card-item{width: 25%;padding: 0 20px;}
.block-card-box{padding:40px;border-radius: 30px;color: var(--green);font-size:18px;min-height: 240px;}
.block-card-box h5{font-size:26px;margin-bottom: 20px;}
.block-img{width:1.5rem;mix-blend-mode:exclusion}
.block-img:hover{transform:scale(1.25);transition:.3s}

@media (max-width:991.98px){
  .block-card-list{margin-bottom: -40px;}
  .block-card-item{width: 50%;margin-bottom: 40px;}   
}

@media (max-width:767.98px){
  .block-card-item{width: 100%;}   
}







.modal-content{background: rgb(242, 232, 185, 0.8);}
.modal-head-content{font-size:20px;padding-top:20px;padding-bottom:20px;font-weight:700;color: var(--light-gray);text-align: center;}
.modal-body{display:flex;flex-wrap:wrap;justify-content:center;align-items:center;padding:10% 5% 5%}
.modal-body label{width:30%;font-weight:900;color:#45796f;font-size: 24px;font-family: 'Outfit';}
.modal-body input{width:70%;padding:12px 20px;margin:8px 0;display:inline-block;border:1px solid #ccc;border-radius:4px;box-sizing:border-box}
.modal{position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);z-index:99;width:60%;height: auto; border-radius:22.5px;border:2px solid #629824;box-shadow:0 0 20px 2px #d1e6b9}
.modal-btn-box{margin-top: 30px;}
.confirm-btn{background:#36bc65;color: var(--white);}
.close-btn{background:red;color: var(--white);}


/********** Responsive Menu **********/
.resmenu-list{width: calc(100% + 40px);margin: 0 -20px;margin-bottom: -40px;}
.resmenu-item{width: 33.33%;padding: 0 20px;margin-bottom: 40px;}
.resmenu-heading {width: 140px;height: 35px;border: 1px solid black;text-align: center;margin: -10px -10px 20px 0;}
.resmenu-box {font-family:"Outfit",sans-serif; position: relative;color: var(--gold);background-color: var(--green);width: 100%;padding: 10px;font-size: 100%;border: 3px solid black;border-radius: 10px 0;}
.resmenu-item:nth-child(3n + 1) .resmenu-heading {background-color: darkkhaki;color: black;}
.resmenu-item:nth-child(3n + 2) .resmenu-heading {background-color: coral;color: white;}
.resmenu-item:nth-child(3n + 3) .resmenu-heading {background-color: violet;color: black;}

@media (max-width:1199.98px){
  .resmenu-item{width: 50%;}
  }

  @media (max-width:767.98px){
    .resmenu-item{width: 100%;}
    }

/********** Responsive Cards **********/
.rescard-list{width: calc(100% + 20px);margin: 0 -10px;margin-bottom: -20px;font-family:"Outfit",sans-serif;}
.rescard-item{width: 33.33%;padding: 0 10px;margin-bottom: 20px;}
.rescard-box{height:100%;border:1px solid #aaa;box-shadow:1px 1px 5px rgba(0,0,0,0.5);cursor:pointer;transition:background-color 400ms ease-out;border-radius:20px; background-color:var(--light-gray);overflow: hidden;}
.rescard-box:hover{background-color:hsl(217,54%,11%);}
.rescard-img{width:100%;position: relative;padding-bottom: 100%;}
.rescard-img img{width:100%;height: 100%;object-fit: cover;position: absolute;top: 0;left: 0;}
.rescard-text{font-size:17px;font-weight:400;color:var(--grayish-blue);padding: 20px;text-align:center;}
.rescard-text h4{font-weight:700;color:var(--dark-blue);text-align:center;margin-bottom:1rem}
.rescard-box:hover h4{color: var(--white)}

@media (max-width:991.98px){
  .rescard-item{width: 50%;}
}
  
@media (max-width:767.98px){
  .rescard-item{width: 100%;}
}
 
/********** NFT Card **********/
.nftcard-list{font-family:"Outfit",sans-serif;width: calc(100% + 30px);margin: 0 -15px;margin-bottom: -30px;}
.nftcard-item{width: 33.33%;padding: 0 15px;margin-bottom: 30px;}
.nftcard-box{padding:1rem;background-color:var(--card-bg);border-radius:10px;width:100%;height:100%}
.nftcard-image{position:relative;width: 100%;padding-bottom: 100%;border-radius: 10px;overflow: hidden;}
.nftcard-image img{width: 100%;height: 100%;object-fit: cover;position: absolute;top: 0;left: 0;}
.nftcard-image::before{content: '';position:absolute;top:0;left: 0;bottom: 0;right: 0;background-image: url(/icon-view.svg);background-position: center;background-repeat: no-repeat;background-size: cover;  background-size: 50px 50px; background-color:hsl(178,100%,50%,50%);width:100%;height: 100%;z-index:9;opacity:0;transition:opacity .3s ease-in-out}
.nftcard-box:hover .nftcard-image::before{opacity:1;cursor:pointer}
.nftcard-cta-list{padding:20px 0;border-bottom:1px solid var(--line)}
.nftcard-text{margin-top: 20px;font-size:18px;font-weight:300}
.nftcard-text h4{font-size:28px;font-weight:600;color:var(--white);margin-bottom: 10px;}
.nftcard-box:hover h4{color:var(--cyan);cursor:pointer}
.nftcard-cta-item{font-size:18px;}
.nftcard-cta-item:first-child{color:var(--cyan)}
.nftcard-cta-item img{margin-right:10px;}
.nftcard-avatar{padding-top:20px}
.nftcard-avatar img{border:2px solid var(--white);border-radius:50%;margin-right: 25px;width:30px;height:30px}
.nftcard-avatar p span{color:var(--white);font-size:18px;font-weight:400}
.nftcard-avatar p span:hover{color:var(--cyan);cursor:pointer}

@media screen and (max-width: 991px) {
  .nftcard-item {width: 50%;}

}

@media screen and (max-width: 767px) {
  .nftcard-item {width: 100%;}

}

/********** Services Card **********/

.service-card-list{width: calc(100% + 30px);margin: 0 -15px;margin-bottom: -30px;}
.service-card-item{width: 33.33%;padding: 0 15px;margin-bottom: 30px;}
.service-card-box{padding: 20px;border-radius:10px;height: 100%;}
.service-card-img{width: 100%;border-radius: 10px;overflow: hidden;}
.service-card-img img{width:100%;height:100%;object-fit: cover;}
.service-card-text{font-size:16px;color: var(--green);margin: 30px 0;}
.service-card-text h4{font-size:40px}


@media (max-width:991.98px){
  .service-card-item{width: 50%;}
}
  
@media (max-width:767.98px){
  .service-card-item{width: 100%;}
}

/********** About Card **********/

.about-box{padding:50px}
.about-img {width: 60%;position: relative;padding-bottom: 40%;border-radius:20px;overflow: hidden;}
.about-img img{width:100%;height:100%;object-fit: cover;position: absolute;top: 0;left: 0;}
.about-text{padding-left:5%;width: 40%;}
.about-text h4{font-size:80px;letter-spacing: 5px;}
.about-text h5{font-size:24px;}
.about-text {font-size:16px;}

@media (max-width:991.98px){
  .about-box{padding:30px}
  .about-img{width: 100%;padding-bottom: 60%;}
  .about-text{width: 100%;padding-left: 0;margin-top: 20px;}
}


/***** Contact Section *****/
.contact-box{font-family:"Readex Pro",sans-serif;width: 100%;}
.contact-title{width: 50%;}
.contact-title h3{color:var(--green);font-size:48px;}
.contact-title h1{margin-top:1%;color:#F2E8B9;font-size:80px;}
#form-name,#form-email,#form-subject,#form-message{background-color:#45796F;color:#F2E8B9;border:none;border-bottom:1px solid #F2E8B9;width:100%;height:42px;margin-bottom:1rem}
#form-name,#form-email{width:250px}
#form-message{height:114px}
#form-submit{background-color:#F2E8B9;color:#45796F;width:100%;height:46px;font-size:1rem;font-weight:700;cursor:pointer;border-radius:30px}
.contact-form input::placeholder{color:#F2E8B9;font-size:1rem;font-weight:200;padding-left:1rem;border-style:none}
.contact-form input:focus{outline:none;border-style:none}
#form-name:hover,#form-email:hover,#form-subject:hover,#form-message:hover{border-bottom:3px solid #F2E8B9}
#form-submit:hover{background-color:#000;color:#F2E8B9}


.contact-wrapper{width: 100%;}
.contact-box{border-radius:16px;}
.contact-text{width: 50%;}
.contact-text h4{font-size:80px;color: var(--green);}
.contact-text h5{font-size:32px;margin-bottom: 10px;}
.contact-form{width: 50%;padding-left: 10%;}
.contact-form span{color:red}
.form-control{width:100%;border-radius:.25rem;background-color:#202020;color:#c9efc7}
.form-control input{height:4em}
.form-control textarea{min-width:100%;max-width:35em;min-height:10em}
.contact-form label{padding-top:1em;padding-bottom:.1em}
.contact-box+.contact-box{margin-top: 60px;}
.contact-details-item{width: 50%;}

/***** Team Section *****/

#team-list {width:100%;background-color:#45796F;padding:5% 2.5%;font-family:"Readex Pro",sans-serif}

.user-list{width: 100%;margin-top: 30px;}
.user-item{width: 33.33%;padding: 0 30px;}
.user-box{width:100%;height: 100%;text-align:center;line-height:1.5em;font-size:1.5rem;box-shadow:0 0 20px 2px #eade71;min-height:500px;color:#45796F;background-color:#eade71;border-radius:250px;border-top-left-radius:999px;border-top-right-radius:999px;padding: 30px;}
.user-box img{border-radius:50%;width:250px;height:auto;margin-bottom:20px}
.user-box ul{display:flex;justify-content:center;list-style:none}
.user-box a{width:25px;height:25px;margin:10px;border-radius:50%;color:#45796F}
.user-box a i:hover{transform:scale(1.5);transition:.3s}


.team-item{width: 33.33%;padding: 0 20px;}
.team-box{padding:40px;border-radius:10px;flex-direction:column;gap:20px;font-size:1.5rem}
.team-img {border-radius:2.5%;width:100%;height:auto;overflow: hidden;}
.team-img img{width: 100%;height: 100%;object-fit: cover;}
.team-text{font-size: 24px;text-align: center;margin-top: 30px;}
.team-text h3{font-size: 40px;}
.team-text ul{list-style-type:none}
.team-text a{width:25px;height:25px;margin:10px;border-radius:50%;}
.team-text a:hover{transform:scale(1.3);transition:.3s;color: var(--grayish-blue);}


.testimonial-list{margin-top: 60px;}
.testimonial-box{font-size:1.2rem;width: 100%;}
.testimonial-item+.testimonial-item{margin-top: 20px;}
.testimonial-image-box{width:66.66%;max-width:30rem;border-radius:10px;box-shadow:3px 3px 5px 3px rgba(0,0,0,0.3);overflow: hidden;}
.testimonial-image{width:100%;height: 100%;}
.testimonial-info{width: 33.33%;text-align:left;line-height:2rem;padding:2.5rem;background:#c9efc7dd;border:4px solid #121212;border-radius:10px}
#customer-2.testimonial{text-align:right}
.testimonial-name{margin:.2rem;color:#454545;font-size:2rem}
.testimonial-subtitle{margin:0;font-size:1.25rem;color:#fcaf3b}
.testimonial-subtitle a{color:inherit;text-decoration:none}
.testimonial-subtitle a:hover,.testimonial-subtitle a:active{color:#7a7a7a}
.testimonial-text{margin:.2rem;font-size:1rem;font-weight:500;line-height:1.25rem}

@media screen and (max-width: 991.98px) {
  .testimonial-item{width: 100%;}
  .testimonial-image-box, .testimonial-info{width: 50%;}
}

@media screen and (max-width: 767.98px) {
  .testimonial-image-box, .testimonial-info{width: 100%;}
}


/* ******************************************************** Packages Section ******************************************************** */

.package-list{width: calc(100% + 30px);margin: 0 -15px;margin-bottom: -30px;}
.package-item{width:33.33%;height:auto;padding: 0 15px;margin-bottom: 30px;}
.package-box{border:4px solid #121212;}
.package:hover,.package:active{box-shadow:2px 2px 4px rgba(0,0,0,0.5);border-color:#ff5454}
.package a{text-decoration:none;color:inherit;display:block;padding:2rem}
.package-badge{position:absolute;top:0;right:0;margin:1.2rem;font-size:.8rem;color:#fff;background:#ff5454;padding:.5rem;border-radius:5px}
.package-title{font-size:1.5rem;line-height:30px}
.package-subtitle{font-size:1rem;line-height:30px;color:#121212}
.package-info{padding:1rem;border:1px solid #121212;color:#121212;background:#fff;font-size:1rem;border-radius: 10px;}
.package-item:nth-child(2) .package-box{color:#fff;background:#fcaf3b;}
.package-box:hover{border-color:#ff5454}


@media screen and (max-width: 991.98px) {
  .package-item{width: 50%;}
}

@media screen and (max-width: 767.98px) {
  .package-item{width: 100%;}
}


/* ******************************************************** Other CSS Section ******************************************************** */

.section-title{color:#121212;font-size:1.5rem;text-align:center;margin-top:50px}
.plan-list{padding-bottom:80px;width:100%;display:flex;justify-content:center;align-items:center}
.plan{background:#d5ffdc;text-align:center;padding:1rem;margin:.5rem 0;border-radius:10px}
.plan{width:33%;display:flex;flex-direction:column;justify-content:space-between;height: calc(100% - 30px);}
.plan-highlighted{background:#fcaf3b;color:#fff;box-shadow:2px 2px 2px 2px rgba(0,0,0,0.5);height:30rem;z-index:50;height: 100%;}
.plan-annotation{background:#fff;color:#fcaf3b;padding:.5rem;box-shadow:2px 2px 2px 2px rgba(0,0,0,0.5);border-radius:8px}
.plan-title{color:#121212}
.plan-price{color:#858585}
.plan-highlighted .plan-title{color:#fff}
.plan-highlighted .plan-price{color:#121212}
.plan-features{list-style:none;margin:0;padding:0}
.plan-feature{margin:.5rem 0}


/* ******************************************************** Customers Section ******************************************************** */

.backdrop{position:fixed;display:none;top:0;left:0;z-index:100;width:100vw;height:100vh;background:rgba(0,0,0,0.5)}

#key-features{width: 100%;border-radius:16px}
#key-features .section-title{color:#121212;font-size:24px;margin-top:0;margin-bottom:2rem}
.key-feature-list{width: calc(100% + 20px);margin: 0 -10px;margin-bottom: -20px;}
.key-feature-item {width: 16.66%;padding: 0 10px;margin-bottom: 20px;}
.key-feature-image{background:#c9efc7;width:128px;height:128px;border:2px solid #424242;border-radius:50%;margin-bottom:10px;padding:1.5rem}
.key-feature-image img{width: 100%;height: 100%;object-fit: cover;}
.key-feature-description{font-weight:700;color:#121212;font-size:16px;text-align:center}

@media screen and (max-width: 1199.98px) {
  .key-feature-item{width: 33.33%;}
}

@media screen and (max-width: 767.98px) {
  .key-feature-item{width: 50%;}
}

@media screen and (max-width: 575.98px) {
  .key-feature-item{width: 100%;}
}


/*--responsive for mobile phone--*/

@media screen and (max-width: 767.99px) {
  .contact{width:100%;padding-top:100px;flex-direction:column;gap:20px}
  .contact-title h3{font-size:1rem}
  .contact-title h1{font-size:3rem}
  #form-name,#form-email,#form-subject,#form-message{width:100%;height:42px}
  #form-name,#form-email{width:49.5%}
  #form-message{height:114px}
  #form-submit{width:100%}

  .modal {text-align: center;width: 95%;position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 99;}
  .btn {width: 100%;}

  .contact-details{padding:2em}
  .contact-details h4{font-size:10vw}
  .contact-form{width: 100%;}
  .form-control{width:100%}
  textarea{min-width:100%;max-width:100%}
  .email img{width:350px;height:auto}
  .btn-4{width:100%}

  .plan {height: 25rem;display: flex;justify-content: center;align-items: center;flex-direction: column;gap: 10px;padding: 20px;}

  .testimonial {margin: 30px;}
  .testimonial-info {margin: 30px 0;}
}

/* ******************************************************** Signup Section ******************************************************** */


.login-container{width:50%;height:100%;padding-top:60px;border-radius:20px;border:4px solid #01274D;}
.login-container .username{font-weight:700;color:#000;position:absolute;top:15px;right:20px}
.login-container .img-container{padding-top:20px;justify-content:center;display:flex}
.login-container .profile{position:absolute;top:0;margin-top: -50px;height:100px;width:100px;border-radius:20%;border-style:solid;border-width:.625rem;border-color:#01274D;background-color:#01274D}
.login-container .input{width:100%;height:3.125rem;border:none;outline:none;background-color:#385072}
.login-container .user-name,.pass{justify-content:center;align-items:center;background-color:#01274D;height:3rem;width:3rem;position:absolute;padding:10px}
.login-container .name{padding-left:4.375rem;font-size:20px;width: 100%;}
.login-input-box+.login-input-box{margin-top:30px}
.login-container .link{font-size:16px;font-weight:400;margin-top: 30px;}
.login-container a{color:#01274D;font-style:italic;text-decoration:none}
.login-container .btn-login{cursor:pointer;width:100%;height:70px;border-radius:20px;color:#fff;background-color:#01274D;font-size:24px;margin-top: 30px;}
