/* ========================== footer Start ============================ */
.bg-glow{background-color: var(--mrr-dark-color);color: var(--mrr-white);position: relative;overflow: hidden;background-image: url(/bg-dots.svg);background-repeat: no-repeat;background-position: top right;background-size: 100px 100px;}

.footer a{text-decoration: none;}
.footer-upper {border-top: 1px solid rgba(0,0,0,0.25);padding: 40px 0;}
.footer-upper-box{width: 100%;height: 100%;text-align: center;font-size: 16px;font-weight: 300;line-height: 1.6;}
.footer-logo{width: 60px;}
.footer-logo img{width: 100%;height: 100%;object-fit: contain;}
.footer-nav-item{font-size: 18px;font-weight: 400;line-height: 1.6;margin-right: 30px;}
.footer-nav-item:last-child{margin-right: 0;}
.footer .footer-nav-list a{position: relative;color: var(--mrr-white)!important;}
.footer .footer-nav-list a:not(.footer-logo)::after{content: '';width: 0;height: 1px;position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);background: var(--mrr-white); transition: .2s ease-in;}
.footer .footer-nav-list a:hover::after {width: 100%;}
.footer-lower{padding: 30px 0;border-top: 1px solid rgba(0,0,0,0.25);position: relative;}
.footer-lower-box{font-size: 14px;font-weight: 300;line-height: 1.6;}
.social-links{font-size: 18px;color: var(--mrr-white);gap:12px;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
.social-links a{width:40px;height:40px;background:var(--mrr-gradient-1);border-radius:50%;color:var(--mrr-white);font-size:22px}
.social-links a:hover{transform:scale(1.2);transition:.3s;color: var(--mrr-white);}

/* ========================== footer End ============================ */

/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
}
/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){

} 
/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px){
.footer-logo{width: 20%;text-align: center;margin-bottom: 30px;}
.footer-nav{width: 70%;}
.footer .social-links{position: relative;left: 0;top: 0;transform: none;width: 100%;margin-bottom: 20px;color: var(--mrr-white);}
}
    
/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){
.footer-nav-list{margin-bottom: -20px;}
.footer-nav-item{text-align: center;margin-bottom: 20px;margin-right: 0;width: 50%;}
.copyright{margin-top: 20px;width: 100%;text-align: center;}
.made-by{width: 100%;text-align: center;}
}
    

    


.contact-container{padding:100px 0;}
.contact-box{width:40%;}
.contact-box h4{font-size:40px;margin-bottom: 20px;}
.contact-box{font-size:20px;font-weight:500;margin-bottom: 0;}    
.contact-subscribe-box{font-size: 16px;font-weight: 300;line-height: 1.6;width: 60%;}
.form-label{font-size:20px;font-weight: 700;line-height: 1.2;margin-bottom: 6px;}
.form-control,.form-control:focus{border:3px solid rgba(255, 255, 255, 0.25);font-size: 14px; padding:10px 20px;border-radius:30px;height: 50px;color: var(--mrr-white);background: rgba(255, 255, 255, 0.1);box-shadow: none;}
.form-control::placeholder{color: var(--mrr-white)}
.form-control:focus{border:3px solid var(--mrr-main-color)}
textarea.form-control,textarea.form-control:focus{resize: none;height: 100%; padding: 14px 20px;}


@media (max-width:1199.98px){


}

@media (max-width:991.98px){
.contact-box,.contact-subscribe-box{width: 100%;}
.contact-subscribe-box{margin-top: 50px;}
}


@media (max-width:767.98px){

}


@media (max-width:575.98px){
    .contact-subscribe-box .btn{min-width: 100%;}
}
